mira-bridge/flows/snippets/fault-detective-dc-bus.json
[
  {
    "id": "fd-group-vfd",
    "type": "ui-group",
    "name": "VFD Power",
    "page": "fd-page",
    "width": "6",
    "height": "1",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false,
    "groupType": "default"
  },
  {
    "id": "fd-mqtt-in-dc-bus",
    "type": "mqtt in",
    "z": "fd-tab",
    "name": "dc_bus",
    "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/dc_bus",
    "qos": "0",
    "datatype": "json",
    "broker": "fd-mqtt",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "fd-fn-dc-bus"
      ]
    ]
  },
  {
    "id": "fd-fn-dc-bus",
    "type": "function",
    "z": "fd-tab",
    "name": "extract value",
    "func": "msg.payload = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 360,
    "wires": [
      [
        "fd-gauge-dc-bus"
      ]
    ]
  },
  {
    "id": "fd-gauge-dc-bus",
    "type": "ui-gauge",
    "z": "fd-tab",
    "group": "fd-group-vfd",
    "order": 1,
    "width": "6",
    "height": "4",
    "name": "DC Bus Voltage",
    "label": "DC Bus",
    "units": "V DC",
    "gtype": "gauge",
    "scale": "linear",
    "icon": "",
    "iconInner": "bolt",
    "min": 0,
    "max": 400,
    "sizeThickness": 6,
    "sizeGap": 2,
    "sizeKeyThickness": 4,
    "segments": [
      {
        "from": 0,
        "color": "#f44336"
      },
      {
        "from": 1,
        "color": "#ff9800"
      },
      {
        "from": 280,
        "color": "#4caf50"
      },
      {
        "from": 371,
        "color": "#ff9800"
      }
    ],
    "className": "",
    "x": 560,
    "y": 360,
    "wires": []
  }
]
