mira-bridge/flows/fault-detective.json
[
    {
        "id": "fd-tab",
        "type": "tab",
        "label": "Fault Detective",
        "disabled": false,
        "info": "MIRA Conveyor Fault Detective demo. Subscribes to demo/cell1/conveyor/cv101/# and renders the HMI + chat panel."
    },
    {
        "id": "fd-mqtt",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "mira-bridge-fd",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd-sqlite",
        "type": "sqlitedb",
        "db": "/mira-db/mira.db",
        "mode": "RWC"
    },
    {
        "id": "fd-ui-base",
        "type": "ui-base",
        "name": "MIRA Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "navigationStyle": "temporary"
    },
    {
        "id": "fd-ui-theme",
        "type": "ui-theme",
        "name": "MIRA Theme",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#2196f3",
            "bgPage": "#121212",
            "groupBg": "#2d2d2d",
            "groupOutline": "#444444"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "fd-page",
        "type": "ui-page",
        "name": "Fault Detective",
        "ui": "fd-ui-base",
        "path": "/fault-detective",
        "icon": "engine",
        "order": 2,
        "theme": "fd-ui-theme",
        "layout": "grid"
    },
    {
        "id": "fd-group-svg",
        "type": "ui-group",
        "name": "Conveyor View",
        "page": "fd-page",
        "width": "12",
        "order": 1
    },
    {
        "id": "fd-group-state",
        "type": "ui-group",
        "name": "What is the conveyor waiting on?",
        "page": "fd-page",
        "width": "12",
        "order": 2
    },
    {
        "id": "fd-group-injects",
        "type": "ui-group",
        "name": "Inject a fault",
        "page": "fd-page",
        "width": "12",
        "order": 3
    },
    {
        "id": "fd-group-events",
        "type": "ui-group",
        "name": "Event Timeline",
        "page": "fd-page",
        "width": "12",
        "order": 4
    },
    {
        "id": "fd-group-chat",
        "type": "ui-group",
        "name": "Talk to MIRA",
        "page": "fd-page",
        "width": "12",
        "order": 5
    },
    {
        "id": "fd-group-vfd",
        "type": "ui-group",
        "name": "VFD Power",
        "page": "fd-page",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "fd-mqtt-in-fault",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "current_fault",
        "topic": "demo/cell1/conveyor/cv101/diagnostics/current_fault",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "fd-fn-fault-route"
            ]
        ]
    },
    {
        "id": "fd-fn-fault-route",
        "type": "function",
        "z": "fd-tab",
        "name": "route fault",
        "func": "flow.set('current_fault', msg.payload);\nreturn [msg, msg];\n",
        "outputs": 2,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "fd-svg"
            ],
            [
                "fd-fn-banner"
            ]
        ]
    },
    {
        "id": "fd-fn-banner",
        "type": "function",
        "z": "fd-tab",
        "name": "compose banner",
        "func": "const f = msg.payload || {};\nlet header = 'Everything is OK';\nlet detail = '';\nlet color = '#4caf50';\nif (f.fault && f.fault !== 'ok') {\n    header = f.fault.replace(/_/g, ' ').toUpperCase();\n    detail = (f.recommended_first_check || '') + (f.safety_note ? '\\n\\n[SAFETY] ' + f.safety_note : '');\n    color = f.confidence >= 0.85 ? '#f44336' : '#ff9800';\n}\nmsg.payload = `**${header}**\\n\\n${detail}`;\nmsg.ui_update = {color};\nreturn msg;\n",
        "outputs": 1,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "fd-banner"
            ]
        ]
    },
    {
        "id": "fd-banner",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-state",
        "name": "Banner",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd-mqtt-in-waiting",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "waiting_on",
        "topic": "demo/cell1/conveyor/cv101/state/waiting_on",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "fd-fn-waiting"
            ]
        ]
    },
    {
        "id": "fd-fn-waiting",
        "type": "function",
        "z": "fd-tab",
        "name": "extract value",
        "func": "msg.payload = (msg.payload && msg.payload.value) ? msg.payload.value : 'nothing';\nreturn msg;\n",
        "outputs": 1,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "fd-waiting"
            ]
        ]
    },
    {
        "id": "fd-waiting",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-state",
        "name": "Waiting on",
        "label": "Waiting on:",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#ffeb3b",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd-svg",
        "type": "ui-template",
        "z": "fd-tab",
        "group": "fd-group-svg",
        "page": "",
        "ui": "",
        "name": "Conveyor SVG",
        "order": 1,
        "width": "12",
        "height": "8",
        "head": "",
        "format": "<template>\n  <div style=\"width:100%; text-align:center; background:#101418; padding:10px; border-radius:6px;\">\n    <svg viewBox=\"0 0 820 330\" xmlns=\"http://www.w3.org/2000/svg\" style=\"width:100%; max-width:920px;\">\n      <defs>\n        <linearGradient id=\"alu\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\">\n          <stop offset=\"0%\" stop-color=\"#e9edf1\"/><stop offset=\"45%\" stop-color=\"#aeb6bd\"/>\n          <stop offset=\"55%\" stop-color=\"#7e878f\"/><stop offset=\"100%\" stop-color=\"#c3cad0\"/>\n        </linearGradient>\n        <linearGradient id=\"aluV\" x1=\"0\" y1=\"0\" x2=\"1\" y2=\"0\">\n          <stop offset=\"0%\" stop-color=\"#cfd5da\"/><stop offset=\"50%\" stop-color=\"#9aa2a9\"/>\n          <stop offset=\"100%\" stop-color=\"#6c747b\"/>\n        </linearGradient>\n        <linearGradient id=\"beltTop\" x1=\"0\" y1=\"0\" x2=\"1\" y2=\"0.4\">\n          <stop offset=\"0%\" stop-color=\"#3a3f44\"/><stop offset=\"50%\" stop-color=\"#202327\"/>\n          <stop offset=\"100%\" stop-color=\"#0e1012\"/>\n        </linearGradient>\n        <radialGradient id=\"roller\" cx=\"0.5\" cy=\"0.4\" r=\"0.7\">\n          <stop offset=\"0%\" stop-color=\"#dfe4e8\"/><stop offset=\"100%\" stop-color=\"#6b7278\"/>\n        </radialGradient>\n        <linearGradient id=\"motorG\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\">\n          <stop offset=\"0%\" stop-color=\"#b9c0c6\"/><stop offset=\"100%\" stop-color=\"#5d646b\"/>\n        </linearGradient>\n      </defs>\n\n      <!-- shadow -->\n      <ellipse cx=\"430\" cy=\"300\" rx=\"330\" ry=\"22\" fill=\"#000\" opacity=\"0.35\"/>\n\n      <!-- far legs -->\n      <rect x=\"206\" y=\"150\" width=\"11\" height=\"120\" fill=\"url(#aluV)\"/>\n      <rect x=\"612\" y=\"108\" width=\"11\" height=\"120\" fill=\"url(#aluV)\"/>\n\n      <!-- belt bed: top surface -->\n      <polygon points=\"150,168 620,108 716,150 246,210\" fill=\"url(#beltTop)\" stroke=\"#000\" stroke-width=\"1\"/>\n      <!-- belt right end face -->\n      <polygon points=\"620,108 716,150 716,168 620,126\" fill=\"#16191c\"/>\n      <!-- belt front face -->\n      <polygon points=\"246,210 716,150 716,168 246,228\" fill=\"#0c0e10\"/>\n\n      <!-- aluminum side rail (front extrusion) -->\n      <polygon points=\"246,212 716,152 716,184 246,244\" fill=\"url(#alu)\" stroke=\"#5b636a\" stroke-width=\"1\"/>\n      <!-- T-slot lines on the rail -->\n      <polyline points=\"252,226 712,166\" fill=\"none\" stroke=\"#7c848b\" stroke-width=\"1.2\" opacity=\"0.8\"/>\n      <!-- bolt heads along rail -->\n      <g fill=\"#5b636a\">\n        <circle cx=\"300\" cy=\"220\" r=\"2.4\"/><circle cx=\"380\" cy=\"210\" r=\"2.4\"/>\n        <circle cx=\"460\" cy=\"200\" r=\"2.4\"/><circle cx=\"540\" cy=\"190\" r=\"2.4\"/>\n        <circle cx=\"620\" cy=\"180\" r=\"2.4\"/><circle cx=\"690\" cy=\"171\" r=\"2.4\"/>\n      </g>\n\n      <!-- end rollers -->\n      <ellipse cx=\"183\" cy=\"189\" rx=\"9\" ry=\"22\" fill=\"url(#roller)\" stroke=\"#4d5358\" transform=\"rotate(-7 183 189)\"/>\n      <ellipse cx=\"716\" cy=\"159\" rx=\"9\" ry=\"20\" fill=\"url(#roller)\" stroke=\"#4d5358\" transform=\"rotate(-7 716 159)\"/>\n\n      <!-- near legs + feet -->\n      <rect x=\"250\" y=\"226\" width=\"13\" height=\"74\" fill=\"url(#aluV)\"/>\n      <ellipse cx=\"256\" cy=\"302\" rx=\"13\" ry=\"5\" fill=\"#4a5056\"/>\n      <rect x=\"700\" y=\"184\" width=\"13\" height=\"92\" fill=\"url(#aluV)\"/>\n      <ellipse cx=\"706\" cy=\"278\" rx=\"13\" ry=\"5\" fill=\"#4a5056\"/>\n      <ellipse cx=\"212\" cy=\"272\" rx=\"11\" ry=\"4\" fill=\"#3c4146\"/>\n      <ellipse cx=\"618\" cy=\"230\" rx=\"11\" ry=\"4\" fill=\"#3c4146\"/>\n\n      <!-- drive: gearbox + motor on the front-right, under the belt -->\n      <g :opacity=\"motorOpacity\">\n        <rect :id=\"'fd-motor'\" x=\"560\" y=\"196\" width=\"40\" height=\"40\" rx=\"3\" :fill=\"motorFill\" stroke=\"#4d5358\" stroke-width=\"1.5\"/>\n        <ellipse cx=\"560\" cy=\"216\" rx=\"9\" ry=\"18\" fill=\"url(#motorG)\" stroke=\"#4d5358\"/>\n        <rect x=\"500\" y=\"200\" width=\"62\" height=\"32\" rx=\"6\" fill=\"url(#motorG)\" stroke=\"#4d5358\" stroke-width=\"1.5\"/>\n        <ellipse cx=\"500\" cy=\"216\" rx=\"7\" ry=\"16\" fill=\"#9aa2a9\" stroke=\"#4d5358\"/>\n        <!-- cooling fins -->\n        <g stroke=\"#5d646b\" stroke-width=\"1\">\n          <line x1=\"512\" y1=\"202\" x2=\"512\" y2=\"230\"/><line x1=\"524\" y1=\"202\" x2=\"524\" y2=\"230\"/>\n          <line x1=\"536\" y1=\"202\" x2=\"536\" y2=\"230\"/><line x1=\"548\" y1=\"202\" x2=\"548\" y2=\"230\"/>\n        </g>\n        <text x=\"580\" y=\"220\" fill=\"#11151a\" font-size=\"10\" text-anchor=\"middle\" font-weight=\"bold\">M-101</text>\n      </g>\n\n      <text x=\"410\" y=\"28\" fill=\"#eef2f6\" font-size=\"15\" text-anchor=\"middle\" font-weight=\"bold\">Conveyor CV-101 \u2014 Demo Cell</text>\n      <text x=\"410\" y=\"320\" :fill=\"bannerColor\" font-size=\"13\" text-anchor=\"middle\" font-weight=\"bold\">{{ faultLabel }}</text>\n    </svg>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() { return { fault: { fault: 'ok', affected_components: [], confidence: 1.0 } }; },\n  watch: { msg(m) { if (m && m.payload) this.fault = m.payload; } },\n  computed: {\n    affected() { return new Set(this.fault.affected_components || []); },\n    motorAffected() { return this.affected.has('Motor M-101'); },\n    motorFill() { return this.motorAffected ? (this.fault.confidence >= 0.85 ? '#f44336' : '#ff9800') : '#aeb6bd'; },\n    motorOpacity() { return 1; },\n    bannerColor() {\n      if (!this.fault.fault || this.fault.fault === 'ok') return '#4caf50';\n      return this.fault.confidence >= 0.85 ? '#f44336' : '#ff9800';\n    },\n    faultLabel() {\n      if (!this.fault.fault || this.fault.fault === 'ok') return 'STATUS: OK';\n      const conf = Math.round((this.fault.confidence || 0) * 100);\n      return this.fault.fault.replace(/_/g, ' ').toUpperCase() + '   (' + conf + '% confidence)';\n    },\n  },\n};\n</script>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fd-inject-normal",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Normal",
        "label": "Normal",
        "order": 1,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#2e7d32",
        "icon": "",
        "iconPosition": "left",
        "payload": "normal",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-jam",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Mechanical jam",
        "label": "Jam",
        "order": 2,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "jam",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-f2",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Fuse F2 blown",
        "label": "Fuse F2 blown",
        "order": 3,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "f2_blown",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-dirty",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Dirty PE-102",
        "label": "Dirty sensor",
        "order": 4,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "dirty_sensor",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-misalign",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Misaligned",
        "label": "Misaligned PE-101",
        "order": 5,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "misaligned",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-brown",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 brown break",
        "label": "PE-101 brown wire",
        "order": 6,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_brown_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-blue",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 blue break",
        "label": "PE-101 blue wire",
        "order": 7,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_blue_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-black",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 black break",
        "label": "PE-101 black wire",
        "order": 8,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_black_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-loose",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Loose terminal",
        "label": "Loose terminal",
        "order": 9,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "loose_terminal",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-chatter",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Debounce chatter",
        "label": "Debounce chatter",
        "order": 10,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "debounce_chatter",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-vfdnomot",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "VFD no motion",
        "label": "VFD running, no motion",
        "order": 11,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "vfd_no_motion",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-vision",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Vision sees, sensor doesn't",
        "label": "Vision yes / PE-101 no",
        "order": 12,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "vision_no_sensor",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-sensor",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Sensor sees, vision doesn't",
        "label": "PE-101 yes / vision no",
        "order": 13,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "sensor_no_vision",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 860,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-fn-do-inject",
        "type": "function",
        "z": "fd-tab",
        "name": "build inject request",
        "func": "msg.url = 'http://fault-sim:8089/inject/' + msg.payload;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "fd-http-inject"
            ]
        ]
    },
    {
        "id": "fd-http-inject",
        "type": "http request",
        "z": "fd-tab",
        "name": "POST /inject",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd-events-poll",
        "type": "inject",
        "z": "fd-tab",
        "name": "Poll events every 3s",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "fd-events-query"
            ]
        ]
    },
    {
        "id": "fd-events-query",
        "type": "sqlite",
        "z": "fd-tab",
        "name": "SELECT recent events",
        "mydb": "fd-sqlite",
        "sqlquery": "fixed",
        "sql": "SELECT ts, fault, ROUND(confidence, 2) as confidence, affected_json FROM conveyor_events ORDER BY id DESC LIMIT 20",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "fd-fn-events-shape"
            ]
        ]
    },
    {
        "id": "fd-fn-events-shape",
        "type": "function",
        "z": "fd-tab",
        "name": "shape for table",
        "func": "const rows = (msg.payload || []).map(r => ({\n  When: r.ts,\n  Fault: (r.fault || '').replace(/_/g, ' '),\n  Conf: r.confidence,\n  Affected: (JSON.parse(r.affected_json || '[]') || []).join(', '),\n}));\nmsg.payload = rows;\nreturn msg;\n",
        "outputs": 1,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "fd-events-table"
            ]
        ]
    },
    {
        "id": "fd-events-table",
        "type": "ui-table",
        "z": "fd-tab",
        "group": "fd-group-events",
        "name": "Recent Events",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "6",
        "columns": [],
        "showSearch": false,
        "showSelectColumn": false,
        "addToHead": "",
        "addToTail": "",
        "options": "{\"layout\":\"fitColumns\",\"resizableColumnFit\":true}",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd-chat-input",
        "type": "ui-text-input",
        "z": "fd-tab",
        "group": "fd-group-chat",
        "name": "ask",
        "label": "Ask MIRA about the conveyor",
        "tooltip": "Try: what happened? \u2014 or \u2014 confirm",
        "order": 1,
        "width": "12",
        "height": "1",
        "topic": "ask",
        "topicType": "msg",
        "mode": "text",
        "delay": "300",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "icon": "",
        "iconPosition": "left",
        "iconColor": "",
        "clearable": true,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "fd-fn-chat"
            ]
        ]
    },
    {
        "id": "fd-fn-chat",
        "type": "function",
        "z": "fd-tab",
        "name": "compose chat request",
        "func": "// For the booth demo, call Groq directly. The full Supervisor at\n// mira-pipeline:9099 owns intent + safety + FSM and is tuned for real\n// technician chat \u2014 it short-circuits if the embedded fault context\n// trips safety keywords, which makes booth demos messy. Production\n// chat should still route through the Supervisor.\nconst fault = flow.get('current_fault') || {fault: 'ok'};\nconst question = msg.payload || '';\nconst evidence = (fault.evidence || []).map(e => `- ${e.topic}: ${JSON.stringify(e.value)}${e.note ? ' (' + e.note + ')' : ''}`).join('\\n');\nconst affected = (fault.affected_components || []).join(', ');\nconst lower = question.toLowerCase();\nif (/(^|\\s)(yes|confirm|correct|ok|yep|yeah|y)(\\s|$|[.!])/.test(lower)) {\n    flow.set('confirmed_session', true);\n}\nconst confirmedNow = flow.get('confirmed_session') || false;\nconst sys = [\n    'You are MIRA \u2014 a calm, evidence-based maintenance supervisor.',\n    'You answer briefly. You cite evidence. You never invent plant data.',\n    '',\n    'LIVE CONVEYOR STATE (Demo Cell / Conveyor CV-101):',\n    '  active fault: ' + (fault.fault || 'ok'),\n    '  confidence: ' + (fault.confidence || 0),\n    '  affected components: ' + (affected || 'none'),\n    '  evidence:',\n    (evidence || '  (no evidence yet)'),\n    '  recommended first check (raw): ' + (fault.recommended_first_check || 'n/a'),\n    '  safety note (raw): ' + (fault.safety_note || 'standard plant PPE'),\n    '',\n    confirmedNow\n        ? 'The technician has CONFIRMED the location. Reply directly with: diagnosis, confidence, evidence (bulleted), recommended first check, next measurement, safety note, work-order draft (one line). Under 180 words.'\n        : 'MIRA protocol \u2014 first reply must be EXACTLY: \"I believe you are working on Demo Cell / Conveyor CV-101 / ' + (affected || 'the suspected fault area') + '. Confirm?\" \u2014 then stop. Do not diagnose until the technician says yes.',\n].join('\\n');\nmsg.url = 'https://api.groq.com/openai/v1/chat/completions';\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer ' + env.get('GROQ_API_KEY'),\n};\nmsg.payload = {\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n        {role: 'system', content: sys},\n        {role: 'user', content: question},\n    ],\n    stream: false,\n    temperature: 0.2,\n    max_tokens: 400,\n};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 680,
        "wires": [
            [
                "fd-http-chat"
            ]
        ]
    },
    {
        "id": "fd-http-chat",
        "type": "http request",
        "z": "fd-tab",
        "name": "POST mira-pipeline",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 680,
        "wires": [
            [
                "fd-fn-chat-extract"
            ]
        ]
    },
    {
        "id": "fd-fn-chat-extract",
        "type": "function",
        "z": "fd-tab",
        "name": "extract reply",
        "func": "let txt = '(no reply)';\ntry {\n    if (msg.statusCode === 200 && msg.payload && msg.payload.choices && msg.payload.choices.length) {\n        txt = msg.payload.choices[0].message.content || txt;\n    } else if (msg.statusCode) {\n        txt = '(MIRA pipeline returned ' + msg.statusCode + ')';\n    }\n} catch (e) { txt = '(parse error: ' + e.message + ')'; }\nmsg.payload = txt;\nreturn msg;\n",
        "outputs": 1,
        "x": 860,
        "y": 680,
        "wires": [
            [
                "fd-chat-out"
            ]
        ]
    },
    {
        "id": "fd-chat-out",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-chat",
        "name": "MIRA Reply",
        "label": "MIRA:",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#e0e0e0",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "fd-mqtt-in-dc-bus",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "dc_bus",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/dc_bus",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fd-fn-dc-bus"
            ]
        ]
    },
    {
        "id": "fd-fn-dc-bus",
        "type": "function",
        "z": "fd-tab",
        "name": "extract value",
        "func": "msg.payload = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "fd-gauge-dc-bus"
            ]
        ]
    },
    {
        "id": "fd-gauge-dc-bus",
        "type": "ui-gauge",
        "z": "fd-tab",
        "group": "fd-group-vfd",
        "order": 1,
        "width": "6",
        "height": "4",
        "name": "DC Bus Voltage",
        "label": "DC Bus",
        "units": "V DC",
        "gtype": "gauge",
        "scale": "linear",
        "icon": "",
        "iconInner": "bolt",
        "min": 0,
        "max": 400,
        "sizeThickness": 6,
        "sizeGap": 2,
        "sizeKeyThickness": 4,
        "segments": [
            {
                "from": 0,
                "color": "#f44336"
            },
            {
                "from": 1,
                "color": "#ff9800"
            },
            {
                "from": 280,
                "color": "#4caf50"
            },
            {
                "from": 371,
                "color": "#ff9800"
            }
        ],
        "className": "",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd-plc-modbus-client",
        "type": "modbus-client",
        "name": "Micro820 192.168.1.100",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.100",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": "1",
        "clientTimeout": 1500,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showStatusActivities": false,
        "showErrors": false
    },
    {
        "id": "fd-plc-grp-buttons",
        "type": "ui-group",
        "name": "Pushbuttons / Selector / E-stop (Local I/O)",
        "page": "fd-page",
        "width": "12",
        "order": 7
    },
    {
        "id": "fd-plc-grp-outputs",
        "type": "ui-group",
        "name": "Outputs / Lights (DO)",
        "page": "fd-page",
        "width": "12",
        "order": 8
    },
    {
        "id": "fd-plc-grp-vfd",
        "type": "ui-group",
        "name": "VFD-101 (GS10)",
        "page": "fd-page",
        "width": "12",
        "order": 9
    },
    {
        "id": "fd-plc-grp-state",
        "type": "ui-group",
        "name": "State machine + counters",
        "page": "fd-page",
        "width": "12",
        "order": 10
    },
    {
        "id": "fd-plc-grp-safety",
        "type": "ui-group",
        "name": "Safety chain",
        "page": "fd-page",
        "width": "12",
        "order": 11
    },
    {
        "id": "fd-plc-tick",
        "type": "inject",
        "z": "fd-tab",
        "name": "PLC poll 1s (Stream B)",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "fd-plc-build-coils"
            ]
        ]
    },
    {
        "id": "fd-plc-build-coils",
        "type": "function",
        "z": "fd-tab",
        "name": "build PLC read specs (Stream B)",
        "func": "// Stream B (Node-RED Modbus, failover) \u2014 emit one read spec per MAPPED block.\n// The Micro 820 (Conv_Simple_1.5) rejects any read spanning an unmapped\n// address, so we read only the contiguous mapped blocks. Block identity is\n// recovered downstream from msg.modbusRequest (set by the flex-getter).\nconst blocks = [\n  {fc:1, address:0,   quantity:1},\n  {fc:1, address:3,   quantity:1},\n  {fc:1, address:5,   quantity:1},\n  {fc:1, address:9,   quantity:1},\n  {fc:1, address:11,  quantity:9},\n  {fc:3, address:106, quantity:4},\n  {fc:3, address:114, quantity:1},\n];\nreturn [blocks.map(b => ({payload: {value: null, unitid: 1, fc: b.fc, address: b.address, quantity: b.quantity}}))];\n",
        "outputs": 1,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "fd-plc-read-coils"
            ]
        ]
    },
    {
        "id": "fd-plc-read-coils",
        "type": "modbus-flex-getter",
        "z": "fd-tab",
        "name": "Read mapped blocks (Stream B)",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "fd-plc-modbus-client",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 580,
        "y": 780,
        "wires": [
            [
                "fd-plc-pub-coils"
            ],
            []
        ]
    },
    {
        "id": "fd-plc-pub-coils",
        "type": "function",
        "z": "fd-tab",
        "name": "publish _streams/nr (Stream B)",
        "func": "// Stream B publish \u2014 identify the returned block via msg.modbusRequest, map\n// values onto the live 18-point Conv_Simple_1.5 map, publish source-qualified\n// _streams/nr/* (source:\"plc-nr\"). HR scaling per MIRA_PLC PLC_MODBUS_TCP.md.\nconst req = msg.modbusRequest || {};\nconst vals = msg.payload;\nif (!Array.isArray(vals)) return null;\nconst PFX = 'demo/cell1/conveyor/cv101/_streams/nr/';\nconst COIL = {0:'motor/m101/running',3:'vfd/vfd101/comm_ok',5:'safety/estop',9:'safety/wiring',\n  11:'plc/di/di00_fwd',12:'plc/di/di01_rev',13:'plc/di/di02_estop_nc',14:'plc/di/di03_estop_no',\n  15:'plc/di/di04_pbrun',16:'plc/do/do00_green',17:'plc/do/do01_red',18:'safety/contactor_q1',\n  19:'plc/do/do03_pbrun_led'};\nconst HR = {106:['vfd/vfd101/freq',100],107:['vfd/vfd101/current_a',100],108:['vfd/vfd101/voltage_v',10],\n  109:['vfd/vfd101/dc_bus_v',10],114:['vfd/vfd101/cmd_word',1]};\nconst ts = Date.now()/1000;\nconst env = (v) => JSON.stringify({value: v, ts: ts, source: 'plc-nr'});\nconst base = parseInt(req.address);\nconst fc = parseInt(req.fc);\nconst out = [];\nfor (let i = 0; i < vals.length; i++) {\n  const off = base + i;\n  if (fc === 1 && COIL[off] !== undefined) {\n    out.push({topic: PFX + COIL[off], payload: env(!!vals[i])});\n  } else if (fc === 3 && HR[off] !== undefined) {\n    const spec = HR[off];\n    out.push({topic: PFX + spec[0], payload: env(spec[1] === 1 ? vals[i] : vals[i] / spec[1])});\n  }\n}\n// liveness marker emitted with the first coil block\nif (fc === 1 && base === 0) out.push({topic: PFX + 'plc/link', payload: env(true)});\nif (out.length === 0) return null;\nreturn [out];\n",
        "outputs": 1,
        "x": 820,
        "y": 780,
        "wires": [
            [
                "fd-plc-pub-out"
            ]
        ]
    },
    {
        "id": "fd-plc-pub-out",
        "type": "split",
        "z": "fd-tab",
        "name": "split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1050,
        "y": 810,
        "wires": [
            [
                "fd-plc-mqtt-out"
            ]
        ]
    },
    {
        "id": "fd-plc-mqtt-out",
        "type": "mqtt out",
        "z": "fd-tab",
        "name": "publish demo/#",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correlationData": "",
        "expiry": "",
        "broker": "fd-mqtt",
        "x": 1250,
        "y": 810,
        "wires": []
    },
    {
        "id": "fd-plc-sub-selector_fwd-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Selector FWD",
        "topic": "demo/cell1/conveyor/cv101/plc/di/selector_fwd",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1030,
        "wires": [
            [
                "fd-plc-sub-selector_fwd-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_fwd-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1030,
        "wires": [
            [
                "fd-plc-sub-selector_fwd-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_fwd-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "Selector FWD",
        "label": "Selector FWD",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1030,
        "wires": []
    },
    {
        "id": "fd-plc-sub-selector_rev-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Selector REV",
        "topic": "demo/cell1/conveyor/cv101/plc/di/selector_rev",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "fd-plc-sub-selector_rev-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_rev-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "fd-plc-sub-selector_rev-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_rev-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "Selector REV",
        "label": "Selector REV",
        "order": 2,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fd-plc-sub-pb_run-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "PB RUN",
        "topic": "demo/cell1/conveyor/cv101/plc/di/di04_pbrun",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1090,
        "wires": [
            [
                "fd-plc-sub-pb_run-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1090,
        "wires": [
            [
                "fd-plc-sub-pb_run-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "PB RUN",
        "label": "PB RUN",
        "order": 3,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1090,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_nc-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-stop NC",
        "topic": "demo/cell1/conveyor/cv101/plc/di/di02_estop_nc",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "fd-plc-sub-e_stop_nc-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_nc-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "fd-plc-sub-e_stop_nc-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_nc-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "E-stop NC",
        "label": "E-stop NC",
        "order": 4,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_no-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-stop NO",
        "topic": "demo/cell1/conveyor/cv101/plc/di/di03_estop_no",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1150,
        "wires": [
            [
                "fd-plc-sub-e_stop_no-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_no-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1150,
        "wires": [
            [
                "fd-plc-sub-e_stop_no-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_no-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "E-stop NO",
        "label": "E-stop NO",
        "order": 5,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1150,
        "wires": []
    },
    {
        "id": "fd-plc-sub-heartbeat-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Heartbeat",
        "topic": "demo/cell1/conveyor/cv101/plc/heartbeat",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "fd-plc-sub-heartbeat-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-heartbeat-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "fd-plc-sub-heartbeat-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-heartbeat-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "Heartbeat",
        "label": "Heartbeat",
        "order": 6,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1180,
        "wires": []
    },
    {
        "id": "fd-plc-sub-light_green-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Light GREEN",
        "topic": "demo/cell1/conveyor/cv101/plc/do/do00_green",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1630,
        "wires": [
            [
                "fd-plc-sub-light_green-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_green-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1630,
        "wires": [
            [
                "fd-plc-sub-light_green-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_green-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "Light GREEN",
        "label": "Light GREEN",
        "order": 21,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1630,
        "wires": []
    },
    {
        "id": "fd-plc-sub-light_red-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Light RED",
        "topic": "demo/cell1/conveyor/cv101/plc/do/do01_red",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1660,
        "wires": [
            [
                "fd-plc-sub-light_red-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_red-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1660,
        "wires": [
            [
                "fd-plc-sub-light_red-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_red-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "Light RED",
        "label": "Light RED",
        "order": 22,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1660,
        "wires": []
    },
    {
        "id": "fd-plc-sub-pb_run_led-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "PB RUN LED",
        "topic": "demo/cell1/conveyor/cv101/plc/do/do03_pbrun_led",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1690,
        "wires": [
            [
                "fd-plc-sub-pb_run_led-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run_led-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1690,
        "wires": [
            [
                "fd-plc-sub-pb_run_led-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run_led-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "PB RUN LED",
        "label": "PB RUN LED",
        "order": 23,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1690,
        "wires": []
    },
    {
        "id": "fd-plc-sub-contactor_q1-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Contactor Q1",
        "topic": "demo/cell1/conveyor/cv101/safety/contactor_q1",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1720,
        "wires": [
            [
                "fd-plc-sub-contactor_q1-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-contactor_q1-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1720,
        "wires": [
            [
                "fd-plc-sub-contactor_q1-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-contactor_q1-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "Contactor Q1",
        "label": "Contactor Q1",
        "order": 24,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1720,
        "wires": []
    },
    {
        "id": "fd-plc-sub-frequency_(hz)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Frequency (Hz)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/freq",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2230,
        "wires": [
            [
                "fd-plc-sub-frequency_(hz)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-frequency_(hz)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2230,
        "wires": [
            [
                "fd-plc-sub-frequency_(hz)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-frequency_(hz)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Frequency (Hz)",
        "label": "Frequency (Hz)",
        "order": 41,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2230,
        "wires": []
    },
    {
        "id": "fd-plc-sub-current_(a)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Current (A)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/current_a",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2260,
        "wires": [
            [
                "fd-plc-sub-current_(a)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-current_(a)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2260,
        "wires": [
            [
                "fd-plc-sub-current_(a)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-current_(a)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Current (A)",
        "label": "Current (A)",
        "order": 42,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2260,
        "wires": []
    },
    {
        "id": "fd-plc-sub-voltage_(v)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Voltage (V)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/voltage_v",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2290,
        "wires": [
            [
                "fd-plc-sub-voltage_(v)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-voltage_(v)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2290,
        "wires": [
            [
                "fd-plc-sub-voltage_(v)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-voltage_(v)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Voltage (V)",
        "label": "Voltage (V)",
        "order": 43,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2290,
        "wires": []
    },
    {
        "id": "fd-plc-sub-dc_bus_(v)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "DC Bus (V)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/dc_bus_v",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "fd-plc-sub-dc_bus_(v)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-dc_bus_(v)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2320,
        "wires": [
            [
                "fd-plc-sub-dc_bus_(v)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-dc_bus_(v)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "DC Bus (V)",
        "label": "DC Bus (V)",
        "order": 44,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2320,
        "wires": []
    },
    {
        "id": "fd-plc-sub-setpoint_(hz)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Setpoint (Hz)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/freq_setpoint",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2350,
        "wires": [
            [
                "fd-plc-sub-setpoint_(hz)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-setpoint_(hz)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2350,
        "wires": [
            [
                "fd-plc-sub-setpoint_(hz)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-setpoint_(hz)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Setpoint (Hz)",
        "label": "Setpoint (Hz)",
        "order": 45,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2350,
        "wires": []
    },
    {
        "id": "fd-plc-sub-speed_cmd-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Speed Cmd",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/speed_cmd",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2380,
        "wires": [
            [
                "fd-plc-sub-speed_cmd-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-speed_cmd-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "fd-plc-sub-speed_cmd-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-speed_cmd-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Speed Cmd",
        "label": "Speed Cmd",
        "order": 46,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2380,
        "wires": []
    },
    {
        "id": "fd-plc-sub-cmd_word-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Cmd word",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/cmd_word",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2410,
        "wires": [
            [
                "fd-plc-sub-cmd_word-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-cmd_word-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nconst names = {1:'STOP',7:'RESET',18:'FWD+RUN',20:'REV+RUN'};\nmsg.payload = (names[v] || ('?' + v));\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2410,
        "wires": [
            [
                "fd-plc-sub-cmd_word-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-cmd_word-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Cmd word",
        "label": "Cmd word",
        "order": 47,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2410,
        "wires": []
    },
    {
        "id": "fd-plc-sub-comm_ok-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Comm OK",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/comm_ok",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2440,
        "wires": [
            [
                "fd-plc-sub-comm_ok-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-comm_ok-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2440,
        "wires": [
            [
                "fd-plc-sub-comm_ok-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-comm_ok-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Comm OK",
        "label": "Comm OK",
        "order": 48,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2440,
        "wires": []
    },
    {
        "id": "fd-plc-sub-conveyor_state-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Conveyor State",
        "topic": "demo/cell1/conveyor/cv101/state/conv_state",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2830,
        "wires": [
            [
                "fd-plc-sub-conveyor_state-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-conveyor_state-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nconst names = {0:'IDLE',1:'STARTING',2:'RUNNING',3:'STOPPING',4:'FAULT'};\nmsg.payload = (names[v] || 'unk') + ' (' + v + ')';\nmsg.ui_update = {color: v === 2 ? '#4caf50' : (v === 4 ? '#f44336' : '#ff9800')};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2830,
        "wires": [
            [
                "fd-plc-sub-conveyor_state-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-conveyor_state-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Conveyor State",
        "label": "Conveyor State",
        "order": 61,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2830,
        "wires": []
    },
    {
        "id": "fd-plc-sub-error_code-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Error code",
        "topic": "demo/cell1/conveyor/cv101/state/error_code",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2860,
        "wires": [
            [
                "fd-plc-sub-error_code-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-error_code-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nconst names = {0:'none',6:'E-STOP',7:'WIRING',8:'DIR',9:'VFD COMM'};\nmsg.payload = (names[v] || ('err' + v));\nmsg.ui_update = {color: v === 0 ? '#4caf50' : '#f44336'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2860,
        "wires": [
            [
                "fd-plc-sub-error_code-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-error_code-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Error code",
        "label": "Error code",
        "order": 62,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2860,
        "wires": []
    },
    {
        "id": "fd-plc-sub-motor_rpm-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Motor RPM",
        "topic": "demo/cell1/conveyor/cv101/motor/m101/speed_rpm",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2890,
        "wires": [
            [
                "fd-plc-sub-motor_rpm-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-motor_rpm-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2890,
        "wires": [
            [
                "fd-plc-sub-motor_rpm-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-motor_rpm-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Motor RPM",
        "label": "Motor RPM",
        "order": 63,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2890,
        "wires": []
    },
    {
        "id": "fd-plc-sub-item_count-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Item count",
        "topic": "demo/cell1/conveyor/cv101/state/item_count",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2920,
        "wires": [
            [
                "fd-plc-sub-item_count-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-item_count-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2920,
        "wires": [
            [
                "fd-plc-sub-item_count-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-item_count-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Item count",
        "label": "Item count",
        "order": 64,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2920,
        "wires": []
    },
    {
        "id": "fd-plc-sub-uptime_(s)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Uptime (s)",
        "topic": "demo/cell1/conveyor/cv101/state/uptime_s",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2950,
        "wires": [
            [
                "fd-plc-sub-uptime_(s)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-uptime_(s)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2950,
        "wires": [
            [
                "fd-plc-sub-uptime_(s)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-uptime_(s)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Uptime (s)",
        "label": "Uptime (s)",
        "order": 65,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2950,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_active-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-STOP active",
        "topic": "demo/cell1/conveyor/cv101/safety/estop",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3430,
        "wires": [
            [
                "fd-plc-sub-e_stop_active-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_active-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3430,
        "wires": [
            [
                "fd-plc-sub-e_stop_active-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_active-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "E-STOP active",
        "label": "E-STOP active",
        "order": 81,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3430,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_wiring-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-stop wiring",
        "topic": "demo/cell1/conveyor/cv101/safety/wiring",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3460,
        "wires": [
            [
                "fd-plc-sub-e_stop_wiring-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_wiring-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3460,
        "wires": [
            [
                "fd-plc-sub-e_stop_wiring-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_wiring-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "E-stop wiring",
        "label": "E-stop wiring",
        "order": 82,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3460,
        "wires": []
    },
    {
        "id": "fd-plc-sub-direction_fault-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Direction fault",
        "topic": "demo/cell1/conveyor/cv101/safety/dir_fault",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3490,
        "wires": [
            [
                "fd-plc-sub-direction_fault-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-direction_fault-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3490,
        "wires": [
            [
                "fd-plc-sub-direction_fault-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-direction_fault-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "Direction fault",
        "label": "Direction fault",
        "order": 83,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3490,
        "wires": []
    },
    {
        "id": "fd-plc-sub-fault_alarm-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Fault alarm",
        "topic": "demo/cell1/conveyor/cv101/safety/fault_alarm",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3520,
        "wires": [
            [
                "fd-plc-sub-fault_alarm-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-fault_alarm-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3520,
        "wires": [
            [
                "fd-plc-sub-fault_alarm-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-fault_alarm-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "Fault alarm",
        "label": "Fault alarm",
        "order": 84,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3520,
        "wires": []
    },
    {
        "id": "fd-grp-source",
        "type": "ui-group",
        "name": "Live PLC data source",
        "page": "fd-page",
        "width": "12",
        "height": "1",
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fd-router-sub-bridge",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "_streams/bridge/#",
        "topic": "demo/cell1/conveyor/cv101/_streams/bridge/#",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "wires": [
            [
                "fd-router"
            ]
        ]
    },
    {
        "id": "fd-router-sub-nr",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "_streams/nr/#",
        "topic": "demo/cell1/conveyor/cv101/_streams/nr/#",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "wires": [
            [
                "fd-router"
            ]
        ]
    },
    {
        "id": "fd-router",
        "type": "function",
        "z": "fd-tab",
        "name": "stream router (active -> panel)",
        "func": "// Stream router: forward ONLY the active PLC stream to the bare panel topics\n// the live PLC I/O widgets subscribe to. Inactive stream is dropped. Active is\n// the selector choice (flow 'streamMode'), or auto-failover (prefer the Python\n// bridge, fall to Node-RED when the bridge goes stale).\nconst FRESH_MS = 2500;\nconst now = Date.now();\nconst m = (msg.topic || '').match(/\\/_streams\\/(bridge|nr)\\/(.+)$/);\nif (!m) return null;\nconst stream = m[1], rel = m[2];\nconst seen = flow.get('streamSeen') || {};\nseen[stream] = now;\nflow.set('streamSeen', seen);\nconst mode = flow.get('streamMode') || 'auto';\nconst fresh = (s) => seen[s] && (now - seen[s]) < FRESH_MS;\nlet active;\nif (mode === 'bridge' || mode === 'nr') active = mode;\nelse active = fresh('bridge') ? 'bridge' : (fresh('nr') ? 'nr' : null);\nflow.set('streamActive', active);\nif (stream !== active) return null;\nmsg.topic = 'demo/cell1/conveyor/cv101/' + rel;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "wires": [
            [
                "fd-plc-mqtt-out"
            ]
        ]
    },
    {
        "id": "fd-stream-selector",
        "type": "ui-radio-group",
        "z": "fd-tab",
        "group": "fd-grp-source",
        "name": "Modbus stream",
        "label": "Modbus stream",
        "order": 1,
        "width": "12",
        "height": "1",
        "columns": 3,
        "passthru": false,
        "options": [
            {
                "value": "auto",
                "label": "Auto (failover)"
            },
            {
                "value": "bridge",
                "label": "Python bridge"
            },
            {
                "value": "nr",
                "label": "Node-RED Modbus"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "wires": [
            [
                "fd-stream-setmode"
            ]
        ]
    },
    {
        "id": "fd-stream-setmode",
        "type": "function",
        "z": "fd-tab",
        "name": "set stream mode",
        "func": "// Selector -> active-stream mode (auto | bridge | nr)\nflow.set('streamMode', msg.payload);\nreturn null;\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "wires": []
    },
    {
        "id": "fd-stream-watchdog",
        "type": "inject",
        "z": "fd-tab",
        "name": "status tick 1s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "wires": [
            [
                "fd-stream-status"
            ]
        ]
    },
    {
        "id": "fd-stream-status",
        "type": "function",
        "z": "fd-tab",
        "name": "stream status",
        "func": "// Watchdog: recompute per-stream health + active label every tick so a dead\n// stream's LED flips even when no messages arrive.\nconst FRESH_MS = 2500;\nconst now = Date.now();\nconst seen = flow.get('streamSeen') || {};\nconst fresh = (s) => seen[s] && (now - seen[s]) < FRESH_MS;\nconst active = flow.get('streamActive');\nconst led = (s) => {\n  const ok = fresh(s);\n  return {payload: ok ? '\\u25CF live' : '\\u25CB down', ui_update: {color: ok ? '#66bb6a' : '#ef5350'}};\n};\nconst names = {bridge: 'Python bridge', nr: 'Node-RED Modbus'};\nconst activeTxt = {\n  payload: active ? ('\\u25B6 ' + (names[active] || active)) : '\\u2014 no live PLC \\u2014',\n  ui_update: {color: active ? '#90caf9' : '#ffa726'}\n};\nreturn [activeTxt, led('bridge'), led('nr')];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "wires": [
            [
                "fd-stream-active-text"
            ],
            [
                "fd-stream-bridge-led"
            ],
            [
                "fd-stream-nr-led"
            ]
        ]
    },
    {
        "id": "fd-stream-active-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-grp-source",
        "name": "Active stream",
        "label": "Active stream",
        "order": 2,
        "width": "6",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#cccccc",
        "wires": []
    },
    {
        "id": "fd-stream-bridge-led",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-grp-source",
        "name": "Python bridge",
        "label": "Python bridge",
        "order": 3,
        "width": "6",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#cccccc",
        "wires": []
    },
    {
        "id": "fd-stream-nr-led",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-grp-source",
        "name": "Node-RED Modbus",
        "label": "Node-RED Modbus",
        "order": 4,
        "width": "6",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#cccccc",
        "wires": []
    },
    {
        "id": "fd-stream-init",
        "type": "inject",
        "z": "fd-tab",
        "name": "preselect Auto",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "wires": [
            [
                "fd-stream-selector"
            ]
        ]
    },
    {
        "id": "fd-grp-panel",
        "type": "ui-group",
        "name": "Operator Control Panel",
        "page": "fd-page",
        "width": "12",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fd-panel-agg",
        "type": "function",
        "z": "fd-tab",
        "name": "panel state aggregator",
        "func": "const rel = (msg.topic||'').replace('demo/cell1/conveyor/cv101/','');\nconst v = (msg.payload && typeof msg.payload==='object') ? msg.payload.value : msg.payload;\nconst s = flow.get('panelState') || {};\ns[rel] = v;\nflow.set('panelState', s);\nmsg.payload = s;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "wires": [
            [
                "fd-panel"
            ]
        ]
    },
    {
        "id": "fd-panel-sub-plc",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "plc in",
        "topic": "demo/cell1/conveyor/cv101/plc/#",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "wires": [
            [
                "fd-panel-agg"
            ]
        ]
    },
    {
        "id": "fd-panel-sub-safety",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "safety in",
        "topic": "demo/cell1/conveyor/cv101/safety/#",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "wires": [
            [
                "fd-panel-agg"
            ]
        ]
    },
    {
        "id": "fd-panel-sub-vfd",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "vfd101 in",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/#",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "wires": [
            [
                "fd-panel-agg"
            ]
        ]
    },
    {
        "id": "fd-panel-sub-motor",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "motor in",
        "topic": "demo/cell1/conveyor/cv101/motor/#",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "wires": [
            [
                "fd-panel-agg"
            ]
        ]
    },
    {
        "id": "fd-panel",
        "type": "ui-template",
        "z": "fd-tab",
        "group": "fd-grp-panel",
        "name": "Operator Control Panel",
        "order": 1,
        "width": "12",
        "height": "6",
        "head": "",
        "format": "<template>\n  <div style=\"width:100%; text-align:center; background:#0c0f12; padding:10px; border-radius:6px;\">\n    <svg viewBox=\"0 0 820 300\" xmlns=\"http://www.w3.org/2000/svg\" style=\"width:100%; max-width:920px;\">\n      <defs>\n        <linearGradient id=\"face\" x1=\"0\" y1=\"0\" x2=\"0\" y2=\"1\">\n          <stop offset=\"0%\" stop-color=\"#2b3036\"/><stop offset=\"100%\" stop-color=\"#171b1f\"/>\n        </linearGradient>\n        <radialGradient id=\"bezel\" cx=\"0.5\" cy=\"0.35\" r=\"0.7\">\n          <stop offset=\"0%\" stop-color=\"#dfe4e8\"/><stop offset=\"55%\" stop-color=\"#9aa2a9\"/>\n          <stop offset=\"100%\" stop-color=\"#4a5056\"/>\n        </radialGradient>\n        <radialGradient id=\"estopH\" cx=\"0.5\" cy=\"0.35\" r=\"0.75\">\n          <stop offset=\"0%\" stop-color=\"#ff6a5e\"/><stop offset=\"60%\" stop-color=\"#e0241a\"/>\n          <stop offset=\"100%\" stop-color=\"#8e1009\"/>\n        </radialGradient>\n      </defs>\n\n      <rect x=\"8\" y=\"8\" width=\"804\" height=\"284\" rx=\"12\" fill=\"url(#face)\" stroke=\"#000\" stroke-width=\"2\"/>\n      <text x=\"410\" y=\"34\" fill=\"#cfd6dc\" font-size=\"14\" text-anchor=\"middle\" font-weight=\"bold\" letter-spacing=\"1\">OPERATOR CONTROL PANEL \u2014 CV-101</text>\n\n      <!-- row 1: pilot lights -->\n      <g v-for=\"(L,i) in lights\" :key=\"L.key\">\n        <circle :cx=\"L.x\" cy=\"100\" r=\"30\" fill=\"url(#bezel)\" stroke=\"#2a2f34\"/>\n        <circle :cx=\"L.x\" cy=\"100\" :r=\"26\" :fill=\"lit(L) ? L.on : L.off\"\n                :stroke=\"lit(L) ? '#ffffff' : '#2a2f34'\" stroke-width=\"1.5\"/>\n        <circle v-if=\"lit(L)\" :cx=\"L.x\" cy=\"100\" r=\"26\" :fill=\"L.on\" opacity=\"0.35\"/>\n        <ellipse :cx=\"L.x - 8\" cy=\"90\" rx=\"8\" ry=\"5\" fill=\"#ffffff\" :opacity=\"lit(L) ? 0.55 : 0.12\"/>\n        <text :x=\"L.x\" y=\"148\" fill=\"#aeb6bd\" font-size=\"10\" text-anchor=\"middle\">{{ L.label }}</text>\n      </g>\n\n      <!-- row 2 -->\n      <!-- green illuminated momentary PB -->\n      <circle cx=\"150\" cy=\"216\" r=\"34\" fill=\"url(#bezel)\" stroke=\"#2a2f34\"/>\n      <circle cx=\"150\" cy=\"216\" :r=\"pbPressed ? 25 : 28\" :fill=\"pbLit ? '#39e06a' : '#1c5a2c'\"\n              :stroke=\"pbLit ? '#bdf5cd' : '#2a2f34'\" stroke-width=\"2\"/>\n      <ellipse cx=\"142\" cy=\"206\" rx=\"9\" ry=\"5\" fill=\"#ffffff\" :opacity=\"pbLit ? 0.6 : 0.15\"/>\n      <text x=\"150\" cy=\"0\" y=\"220\" fill=\"#04210d\" font-size=\"10\" text-anchor=\"middle\" font-weight=\"bold\">RUN</text>\n      <text x=\"150\" y=\"270\" fill=\"#aeb6bd\" font-size=\"10\" text-anchor=\"middle\">Run PB (illum.)</text>\n\n      <!-- 3-position maintained selector -->\n      <circle cx=\"400\" cy=\"216\" r=\"34\" fill=\"url(#bezel)\" stroke=\"#2a2f34\"/>\n      <circle cx=\"400\" cy=\"216\" r=\"26\" fill=\"#3a4046\" stroke=\"#20262b\"/>\n      <g :transform=\"'rotate(' + selAngle + ' 400 216)'\">\n        <rect x=\"396\" y=\"192\" width=\"8\" height=\"28\" rx=\"3\" fill=\"#e9edf1\" stroke=\"#4a5056\"/>\n        <circle cx=\"400\" cy=\"216\" r=\"6\" fill=\"#cfd5da\" stroke=\"#4a5056\"/>\n      </g>\n      <text x=\"356\" y=\"184\" fill=\"#8f979e\" font-size=\"9\" text-anchor=\"middle\">FWD</text>\n      <text x=\"400\" y=\"176\" fill=\"#8f979e\" font-size=\"9\" text-anchor=\"middle\">OFF</text>\n      <text x=\"444\" y=\"184\" fill=\"#8f979e\" font-size=\"9\" text-anchor=\"middle\">REV</text>\n      <text x=\"400\" y=\"270\" fill=\"#aeb6bd\" font-size=\"10\" text-anchor=\"middle\">Selector ({{ selText }})</text>\n\n      <!-- E-stop -->\n      <rect x=\"612\" y=\"178\" width=\"76\" height=\"76\" rx=\"8\" :fill=\"estop ? '#ffd21a' : '#caa70f'\" stroke=\"#7a6608\"/>\n      <circle cx=\"650\" cy=\"216\" r=\"30\" fill=\"#5a0d07\"/>\n      <circle cx=\"650\" cy=\"216\" :r=\"estop ? 24 : 26\" fill=\"url(#estopH)\"\n              :stroke=\"estop ? '#ffd21a' : '#3a0703'\" stroke-width=\"2\"/>\n      <circle cx=\"650\" cy=\"216\" r=\"9\" fill=\"#7a1009\" opacity=\"0.7\"/>\n      <text x=\"650\" y=\"270\" :fill=\"estop ? '#ff6a5e' : '#aeb6bd'\" font-size=\"10\" text-anchor=\"middle\" font-weight=\"bold\">\n        {{ estop ? 'E-STOP TRIPPED' : 'EMERGENCY STOP' }}\n      </text>\n    </svg>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      st: {},\n      lights: [\n        { key: 'y', x: 120, label: 'WIRING',  on: '#ffd21a', off: '#4d4413', sig: 'safety/wiring' },\n        { key: 'w', x: 265, label: 'COMM OK',  on: '#f3f6f9', off: '#4a4f54', sig: 'vfd/vfd101/comm_ok' },\n        { key: 'g', x: 410, label: 'GREEN (DO0)', on: '#33d15a', off: '#16451f', sig: 'plc/do/do00_green' },\n        { key: 'b', x: 555, label: 'RUNNING', on: '#2f9bff', off: '#163a5a', sig: 'motor/m101/running' },\n        { key: 'r', x: 700, label: 'RED (DO1)',  on: '#ff3b30', off: '#511511', sig: 'plc/do/do01_red' },\n      ],\n    };\n  },\n  watch: { msg(m) { if (m && m.payload && typeof m.payload === 'object') this.st = m.payload; } },\n  computed: {\n    pbLit() { return !!this.st['plc/do/do03_pbrun_led']; },\n    pbPressed() { return !!this.st['plc/di/di04_pbrun']; },\n    estop() { return !!this.st['safety/estop']; },\n    selFwd() { return !!this.st['plc/di/di00_fwd']; },\n    selRev() { return !!this.st['plc/di/di01_rev']; },\n    selAngle() { return this.selFwd ? -45 : (this.selRev ? 45 : 0); },\n    selText() { return this.selFwd ? 'FWD' : (this.selRev ? 'REV' : 'OFF'); },\n  },\n  methods: { lit(L) { return !!this.st[L.sig]; } },\n};\n</script>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "wires": [
            []
        ]
    }
]