mira-bridge/flows/fault-detective.json
[
    {
        "id": "fd-tab",
        "type": "tab",
        "label": "Fault Detective",
        "disabled": false,
        "info": "MIRA Conveyor Fault Detective demo. Subscribes to demo/cell1/conveyor/cv101/# and renders the HMI + chat panel."
    },
    {
        "id": "fd-mqtt",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "mira-bridge-fd",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd-sqlite",
        "type": "sqlitedb",
        "db": "/mira-db/mira.db",
        "mode": "RWC"
    },
    {
        "id": "fd-ui-base",
        "type": "ui-base",
        "name": "MIRA Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "navigationStyle": "temporary"
    },
    {
        "id": "fd-ui-theme",
        "type": "ui-theme",
        "name": "MIRA Theme",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#2196f3",
            "bgPage": "#121212",
            "groupBg": "#2d2d2d",
            "groupOutline": "#444444"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "fd-page",
        "type": "ui-page",
        "name": "Fault Detective",
        "ui": "fd-ui-base",
        "path": "/fault-detective",
        "icon": "engine",
        "order": 2,
        "theme": "fd-ui-theme",
        "layout": "grid"
    },
    {
        "id": "fd-group-svg",
        "type": "ui-group",
        "name": "Conveyor View",
        "page": "fd-page",
        "width": "12",
        "order": 1
    },
    {
        "id": "fd-group-state",
        "type": "ui-group",
        "name": "What is the conveyor waiting on?",
        "page": "fd-page",
        "width": "12",
        "order": 2
    },
    {
        "id": "fd-group-injects",
        "type": "ui-group",
        "name": "Inject a fault",
        "page": "fd-page",
        "width": "12",
        "order": 3
    },
    {
        "id": "fd-group-events",
        "type": "ui-group",
        "name": "Event Timeline",
        "page": "fd-page",
        "width": "12",
        "order": 4
    },
    {
        "id": "fd-group-chat",
        "type": "ui-group",
        "name": "Talk to MIRA",
        "page": "fd-page",
        "width": "12",
        "order": 5
    },
    {
        "id": "fd-group-vfd",
        "type": "ui-group",
        "name": "VFD Power",
        "page": "fd-page",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "fd-mqtt-in-fault",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "current_fault",
        "topic": "demo/cell1/conveyor/cv101/diagnostics/current_fault",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "fd-fn-fault-route"
            ]
        ]
    },
    {
        "id": "fd-fn-fault-route",
        "type": "function",
        "z": "fd-tab",
        "name": "route fault",
        "func": "flow.set('current_fault', msg.payload);\nreturn [msg, msg];\n",
        "outputs": 2,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "fd-svg"
            ],
            [
                "fd-fn-banner"
            ]
        ]
    },
    {
        "id": "fd-fn-banner",
        "type": "function",
        "z": "fd-tab",
        "name": "compose banner",
        "func": "const f = msg.payload || {};\nlet header = 'Everything is OK';\nlet detail = '';\nlet color = '#4caf50';\nif (f.fault && f.fault !== 'ok') {\n    header = f.fault.replace(/_/g, ' ').toUpperCase();\n    detail = (f.recommended_first_check || '') + (f.safety_note ? '\\n\\n[SAFETY] ' + f.safety_note : '');\n    color = f.confidence >= 0.85 ? '#f44336' : '#ff9800';\n}\nmsg.payload = `**${header}**\\n\\n${detail}`;\nmsg.ui_update = {color};\nreturn msg;\n",
        "outputs": 1,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "fd-banner"
            ]
        ]
    },
    {
        "id": "fd-banner",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-state",
        "name": "Banner",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd-mqtt-in-waiting",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "waiting_on",
        "topic": "demo/cell1/conveyor/cv101/state/waiting_on",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "fd-fn-waiting"
            ]
        ]
    },
    {
        "id": "fd-fn-waiting",
        "type": "function",
        "z": "fd-tab",
        "name": "extract value",
        "func": "msg.payload = (msg.payload && msg.payload.value) ? msg.payload.value : 'nothing';\nreturn msg;\n",
        "outputs": 1,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "fd-waiting"
            ]
        ]
    },
    {
        "id": "fd-waiting",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-state",
        "name": "Waiting on",
        "label": "Waiting on:",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#ffeb3b",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd-svg",
        "type": "ui-template",
        "z": "fd-tab",
        "group": "fd-group-svg",
        "page": "",
        "ui": "",
        "name": "Conveyor SVG",
        "order": 1,
        "width": "12",
        "height": "8",
        "head": "",
        "format": "<template>\n  <div style=\"width:100%; text-align:center; background:#0d0d0d; padding:8px; border-radius:4px;\">\n    <svg viewBox=\"0 0 800 280\" xmlns=\"http://www.w3.org/2000/svg\" style=\"width:100%; max-width:900px;\">\n      <defs>\n        <linearGradient id=\"belt\" x1=\"0\" y1=\"0\" x2=\"1\" y2=\"0\">\n          <stop offset=\"0%\" stop-color=\"#444\"/>\n          <stop offset=\"100%\" stop-color=\"#222\"/>\n        </linearGradient>\n      </defs>\n      <rect x=\"60\" y=\"160\" width=\"680\" height=\"38\" fill=\"url(#belt)\" stroke=\"#888\" stroke-width=\"1\"/>\n      <circle cx=\"60\" cy=\"179\" r=\"22\" fill=\"#666\" stroke=\"#aaa\" stroke-width=\"1\"/>\n      <circle cx=\"740\" cy=\"179\" r=\"22\" fill=\"#666\" stroke=\"#aaa\" stroke-width=\"1\"/>\n\n      <rect :id=\"'fd-zone1'\" x=\"110\" y=\"150\" width=\"200\" height=\"58\" fill=\"none\" :stroke=\"colorFor('Zone 1')\" stroke-width=\"2\" stroke-dasharray=\"4,3\"/>\n      <text x=\"210\" y=\"144\" fill=\"#bbb\" font-size=\"11\" text-anchor=\"middle\">Zone 1</text>\n\n      <rect :id=\"'fd-zone2'\" x=\"380\" y=\"150\" width=\"260\" height=\"58\" fill=\"none\" :stroke=\"colorFor('Zone 2')\" stroke-width=\"2\" stroke-dasharray=\"4,3\"/>\n      <text x=\"510\" y=\"144\" fill=\"#bbb\" font-size=\"11\" text-anchor=\"middle\">Zone 2</text>\n\n      <circle :id=\"'fd-pe101'\" cx=\"180\" cy=\"110\" r=\"14\" :fill=\"colorFor('PE-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"180\" y=\"96\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">PE-101</text>\n      <line x1=\"180\" y1=\"124\" x2=\"180\" y2=\"160\" :stroke=\"colorFor('PE-101')\" stroke-width=\"1\" stroke-dasharray=\"2,2\"/>\n\n      <circle :id=\"'fd-pe102'\" cx=\"460\" cy=\"110\" r=\"14\" :fill=\"colorFor('PE-102')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"460\" y=\"96\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">PE-102</text>\n      <line x1=\"460\" y1=\"124\" x2=\"460\" y2=\"160\" :stroke=\"colorFor('PE-102')\" stroke-width=\"1\" stroke-dasharray=\"2,2\"/>\n\n      <circle :id=\"'fd-px101'\" cx=\"570\" cy=\"110\" r=\"14\" :fill=\"colorFor('PX-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"570\" y=\"96\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">PX-101</text>\n      <line x1=\"570\" y1=\"124\" x2=\"570\" y2=\"160\" :stroke=\"colorFor('PX-101')\" stroke-width=\"1\" stroke-dasharray=\"2,2\"/>\n\n      <rect :id=\"'fd-motor'\" x=\"690\" y=\"220\" width=\"60\" height=\"40\" :fill=\"colorFor('Motor M-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"720\" y=\"245\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">M-101</text>\n\n      <rect :id=\"'fd-vfd'\" x=\"690\" y=\"30\" width=\"60\" height=\"40\" :fill=\"colorFor('VFD-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"720\" y=\"55\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">VFD-101</text>\n\n      <circle :id=\"'fd-sl'\" cx=\"50\" cy=\"50\" r=\"14\" :fill=\"colorFor('SL-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"50\" y=\"32\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">SL-101</text>\n\n      <rect :id=\"'fd-f2'\" x=\"10\" y=\"220\" width=\"60\" height=\"22\" :fill=\"colorFor('Fuse F2')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"40\" y=\"235\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">F2 24V</text>\n      <line x1=\"70\" y1=\"231\" x2=\"180\" y2=\"124\" :stroke=\"colorFor('Fuse F2')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n      <line x1=\"70\" y1=\"231\" x2=\"460\" y2=\"124\" :stroke=\"colorFor('Fuse F2')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n      <line x1=\"70\" y1=\"231\" x2=\"570\" y2=\"124\" :stroke=\"colorFor('Fuse F2')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n\n      <rect :id=\"'fd-f3'\" x=\"10\" y=\"250\" width=\"60\" height=\"22\" :fill=\"colorFor('Fuse F3')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"40\" y=\"265\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">F3 24V</text>\n      <line x1=\"70\" y1=\"261\" x2=\"50\" y2=\"64\" :stroke=\"colorFor('Fuse F3')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n\n      <text x=\"400\" y=\"24\" fill=\"#fff\" font-size=\"14\" text-anchor=\"middle\" font-weight=\"bold\">CV-101 \u2014 Demo Cell</text>\n      <text x=\"400\" y=\"265\" :fill=\"bannerColor\" font-size=\"13\" text-anchor=\"middle\" font-weight=\"bold\">{{ faultLabel }}</text>\n    </svg>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return { fault: { fault: 'ok', affected_components: [], confidence: 1.0 } };\n  },\n  watch: {\n    msg(m) {\n      if (m && m.payload) this.fault = m.payload;\n    },\n  },\n  computed: {\n    affected() {\n      return new Set(this.fault.affected_components || []);\n    },\n    bannerColor() {\n      if (!this.fault.fault || this.fault.fault === 'ok') return '#4caf50';\n      return this.fault.confidence >= 0.85 ? '#f44336' : '#ff9800';\n    },\n    faultLabel() {\n      if (!this.fault.fault || this.fault.fault === 'ok') return 'STATUS: OK';\n      const conf = Math.round((this.fault.confidence || 0) * 100);\n      return this.fault.fault.replace(/_/g, ' ').toUpperCase() + '   (' + conf + '% confidence)';\n    },\n  },\n  methods: {\n    colorFor(component) {\n      if (this.affected.has(component)) {\n        return this.fault.confidence >= 0.85 ? '#f44336' : '#ff9800';\n      }\n      return '#4caf50';\n    },\n  },\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fd-inject-normal",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Normal",
        "label": "Normal",
        "order": 1,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#2e7d32",
        "icon": "",
        "iconPosition": "left",
        "payload": "normal",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-jam",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Mechanical jam",
        "label": "Jam",
        "order": 2,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "jam",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-f2",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Fuse F2 blown",
        "label": "Fuse F2 blown",
        "order": 3,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "f2_blown",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-dirty",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Dirty PE-102",
        "label": "Dirty sensor",
        "order": 4,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "dirty_sensor",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-misalign",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Misaligned",
        "label": "Misaligned PE-101",
        "order": 5,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "misaligned",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-brown",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 brown break",
        "label": "PE-101 brown wire",
        "order": 6,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_brown_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-blue",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 blue break",
        "label": "PE-101 blue wire",
        "order": 7,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_blue_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-black",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 black break",
        "label": "PE-101 black wire",
        "order": 8,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_black_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-loose",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Loose terminal",
        "label": "Loose terminal",
        "order": 9,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "loose_terminal",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-chatter",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Debounce chatter",
        "label": "Debounce chatter",
        "order": 10,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "debounce_chatter",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-vfdnomot",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "VFD no motion",
        "label": "VFD running, no motion",
        "order": 11,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "vfd_no_motion",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-vision",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Vision sees, sensor doesn't",
        "label": "Vision yes / PE-101 no",
        "order": 12,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "vision_no_sensor",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-sensor",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Sensor sees, vision doesn't",
        "label": "PE-101 yes / vision no",
        "order": 13,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "sensor_no_vision",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 860,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-fn-do-inject",
        "type": "function",
        "z": "fd-tab",
        "name": "build inject request",
        "func": "msg.url = 'http://fault-sim:8089/inject/' + msg.payload;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "fd-http-inject"
            ]
        ]
    },
    {
        "id": "fd-http-inject",
        "type": "http request",
        "z": "fd-tab",
        "name": "POST /inject",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd-events-poll",
        "type": "inject",
        "z": "fd-tab",
        "name": "Poll events every 3s",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "fd-events-query"
            ]
        ]
    },
    {
        "id": "fd-events-query",
        "type": "sqlite",
        "z": "fd-tab",
        "name": "SELECT recent events",
        "mydb": "fd-sqlite",
        "sqlquery": "fixed",
        "sql": "SELECT ts, fault, ROUND(confidence, 2) as confidence, affected_json FROM conveyor_events ORDER BY id DESC LIMIT 20",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "fd-fn-events-shape"
            ]
        ]
    },
    {
        "id": "fd-fn-events-shape",
        "type": "function",
        "z": "fd-tab",
        "name": "shape for table",
        "func": "const rows = (msg.payload || []).map(r => ({\n  When: r.ts,\n  Fault: (r.fault || '').replace(/_/g, ' '),\n  Conf: r.confidence,\n  Affected: (JSON.parse(r.affected_json || '[]') || []).join(', '),\n}));\nmsg.payload = rows;\nreturn msg;\n",
        "outputs": 1,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "fd-events-table"
            ]
        ]
    },
    {
        "id": "fd-events-table",
        "type": "ui-table",
        "z": "fd-tab",
        "group": "fd-group-events",
        "name": "Recent Events",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "6",
        "columns": [],
        "showSearch": false,
        "showSelectColumn": false,
        "addToHead": "",
        "addToTail": "",
        "options": "{\"layout\":\"fitColumns\",\"resizableColumnFit\":true}",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd-chat-input",
        "type": "ui-text-input",
        "z": "fd-tab",
        "group": "fd-group-chat",
        "name": "ask",
        "label": "Ask MIRA about the conveyor",
        "tooltip": "Try: what happened? \u2014 or \u2014 confirm",
        "order": 1,
        "width": "12",
        "height": "1",
        "topic": "ask",
        "topicType": "msg",
        "mode": "text",
        "delay": "300",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "icon": "",
        "iconPosition": "left",
        "iconColor": "",
        "clearable": true,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "fd-fn-chat"
            ]
        ]
    },
    {
        "id": "fd-fn-chat",
        "type": "function",
        "z": "fd-tab",
        "name": "compose chat request",
        "func": "// For the booth demo, call Groq directly. The full Supervisor at\n// mira-pipeline:9099 owns intent + safety + FSM and is tuned for real\n// technician chat \u2014 it short-circuits if the embedded fault context\n// trips safety keywords, which makes booth demos messy. Production\n// chat should still route through the Supervisor.\nconst fault = flow.get('current_fault') || {fault: 'ok'};\nconst question = msg.payload || '';\nconst evidence = (fault.evidence || []).map(e => `- ${e.topic}: ${JSON.stringify(e.value)}${e.note ? ' (' + e.note + ')' : ''}`).join('\\n');\nconst affected = (fault.affected_components || []).join(', ');\nconst lower = question.toLowerCase();\nif (/(^|\\s)(yes|confirm|correct|ok|yep|yeah|y)(\\s|$|[.!])/.test(lower)) {\n    flow.set('confirmed_session', true);\n}\nconst confirmedNow = flow.get('confirmed_session') || false;\nconst sys = [\n    'You are MIRA \u2014 a calm, evidence-based maintenance supervisor.',\n    'You answer briefly. You cite evidence. You never invent plant data.',\n    '',\n    'LIVE CONVEYOR STATE (Demo Cell / Conveyor CV-101):',\n    '  active fault: ' + (fault.fault || 'ok'),\n    '  confidence: ' + (fault.confidence || 0),\n    '  affected components: ' + (affected || 'none'),\n    '  evidence:',\n    (evidence || '  (no evidence yet)'),\n    '  recommended first check (raw): ' + (fault.recommended_first_check || 'n/a'),\n    '  safety note (raw): ' + (fault.safety_note || 'standard plant PPE'),\n    '',\n    confirmedNow\n        ? 'The technician has CONFIRMED the location. Reply directly with: diagnosis, confidence, evidence (bulleted), recommended first check, next measurement, safety note, work-order draft (one line). Under 180 words.'\n        : 'MIRA protocol \u2014 first reply must be EXACTLY: \"I believe you are working on Demo Cell / Conveyor CV-101 / ' + (affected || 'the suspected fault area') + '. Confirm?\" \u2014 then stop. Do not diagnose until the technician says yes.',\n].join('\\n');\nmsg.url = 'https://api.groq.com/openai/v1/chat/completions';\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer ' + env.get('GROQ_API_KEY'),\n};\nmsg.payload = {\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n        {role: 'system', content: sys},\n        {role: 'user', content: question},\n    ],\n    stream: false,\n    temperature: 0.2,\n    max_tokens: 400,\n};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 680,
        "wires": [
            [
                "fd-http-chat"
            ]
        ]
    },
    {
        "id": "fd-http-chat",
        "type": "http request",
        "z": "fd-tab",
        "name": "POST mira-pipeline",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 680,
        "wires": [
            [
                "fd-fn-chat-extract"
            ]
        ]
    },
    {
        "id": "fd-fn-chat-extract",
        "type": "function",
        "z": "fd-tab",
        "name": "extract reply",
        "func": "let txt = '(no reply)';\ntry {\n    if (msg.statusCode === 200 && msg.payload && msg.payload.choices && msg.payload.choices.length) {\n        txt = msg.payload.choices[0].message.content || txt;\n    } else if (msg.statusCode) {\n        txt = '(MIRA pipeline returned ' + msg.statusCode + ')';\n    }\n} catch (e) { txt = '(parse error: ' + e.message + ')'; }\nmsg.payload = txt;\nreturn msg;\n",
        "outputs": 1,
        "x": 860,
        "y": 680,
        "wires": [
            [
                "fd-chat-out"
            ]
        ]
    },
    {
        "id": "fd-chat-out",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-chat",
        "name": "MIRA Reply",
        "label": "MIRA:",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#e0e0e0",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "fd-mqtt-in-dc-bus",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "dc_bus",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/dc_bus",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fd-fn-dc-bus"
            ]
        ]
    },
    {
        "id": "fd-fn-dc-bus",
        "type": "function",
        "z": "fd-tab",
        "name": "extract value",
        "func": "msg.payload = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "fd-gauge-dc-bus"
            ]
        ]
    },
    {
        "id": "fd-gauge-dc-bus",
        "type": "ui-gauge",
        "z": "fd-tab",
        "group": "fd-group-vfd",
        "order": 1,
        "width": "6",
        "height": "4",
        "name": "DC Bus Voltage",
        "label": "DC Bus",
        "units": "V DC",
        "gtype": "gauge",
        "scale": "linear",
        "icon": "",
        "iconInner": "bolt",
        "min": 0,
        "max": 400,
        "sizeThickness": 6,
        "sizeGap": 2,
        "sizeKeyThickness": 4,
        "segments": [
            {
                "from": 0,
                "color": "#f44336"
            },
            {
                "from": 1,
                "color": "#ff9800"
            },
            {
                "from": 280,
                "color": "#4caf50"
            },
            {
                "from": 371,
                "color": "#ff9800"
            }
        ],
        "className": "",
        "x": 560,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd-plc-modbus-client",
        "type": "modbus-client",
        "name": "Micro820 192.168.1.100",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.100",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": "1",
        "clientTimeout": 1500,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showStatusActivities": false,
        "showErrors": false
    },
    {
        "id": "fd-plc-grp-buttons",
        "type": "ui-group",
        "name": "Pushbuttons / Selector / E-stop (Local I/O)",
        "page": "fd-page",
        "width": "12",
        "order": 6
    },
    {
        "id": "fd-plc-grp-outputs",
        "type": "ui-group",
        "name": "Outputs / Lights (DO)",
        "page": "fd-page",
        "width": "12",
        "order": 7
    },
    {
        "id": "fd-plc-grp-vfd",
        "type": "ui-group",
        "name": "VFD-101 (GS10)",
        "page": "fd-page",
        "width": "12",
        "order": 8
    },
    {
        "id": "fd-plc-grp-state",
        "type": "ui-group",
        "name": "State machine + counters",
        "page": "fd-page",
        "width": "12",
        "order": 9
    },
    {
        "id": "fd-plc-grp-safety",
        "type": "ui-group",
        "name": "Safety chain",
        "page": "fd-page",
        "width": "12",
        "order": 10
    },
    {
        "id": "fd-plc-tick",
        "type": "inject",
        "z": "fd-tab",
        "name": "PLC poll 500ms",
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "fd-plc-build-coils",
                "fd-plc-build-hrs"
            ]
        ]
    },
    {
        "id": "fd-plc-build-coils",
        "type": "function",
        "z": "fd-tab",
        "name": "build coil read",
        "func": "msg.payload = {value: msg.payload, 'fc': 1, 'unitid': 1, 'address': 0, 'quantity': 22};\nreturn msg;\n",
        "outputs": 1,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "fd-plc-read-coils"
            ]
        ]
    },
    {
        "id": "fd-plc-read-coils",
        "type": "modbus-flex-getter",
        "z": "fd-tab",
        "name": "Read coils 0-21",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "fd-plc-modbus-client",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 580,
        "y": 780,
        "wires": [
            [
                "fd-plc-pub-coils"
            ],
            []
        ]
    },
    {
        "id": "fd-plc-build-hrs",
        "type": "function",
        "z": "fd-tab",
        "name": "build HR read",
        "func": "msg.payload = {value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 100, 'quantity': 17};\nreturn msg;\n",
        "outputs": 1,
        "x": 360,
        "y": 840,
        "wires": [
            [
                "fd-plc-read-hrs"
            ]
        ]
    },
    {
        "id": "fd-plc-read-hrs",
        "type": "modbus-flex-getter",
        "z": "fd-tab",
        "name": "Read HR 100-116",
        "showStatusActivities": false,
        "showErrors": false,
        "logIOActivities": false,
        "server": "fd-plc-modbus-client",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 580,
        "y": 840,
        "wires": [
            [
                "fd-plc-pub-hrs"
            ],
            []
        ]
    },
    {
        "id": "fd-plc-pub-coils",
        "type": "function",
        "z": "fd-tab",
        "name": "publish coil topics",
        "func": "const bits = msg.payload || [];\nif (bits.length < 22) return null;\nconst T = (val) => ({payload: JSON.stringify({value: !!val, ts: Date.now()/1000, source: 'plc-live'})});\nconst labels = ['motor/m101/running','motor/m101/conveyor_running','safety/fault_alarm','vfd/vfd101/comm_ok',\n    'state/system_ready','safety/estop','plc/di/selector_fwd','plc/di/selector_rev','plc/heartbeat',\n    'safety/wiring','safety/dir_fault','plc/di/di00_fwd','plc/di/di01_rev','plc/di/di02_estop_nc',\n    'plc/di/di03_estop_no','plc/di/di04_pbrun','plc/do/do00_green','plc/do/do01_red',\n    'safety/contactor_q1','plc/do/do03_pbrun_led','vfd/vfd101/poll_active','vfd/vfd101/fault_reset_pending'];\nconst out = [];\nfor (let i = 0; i < 22; i++) {\n    out.push({topic: 'demo/cell1/conveyor/cv101/' + labels[i],\n             payload: JSON.stringify({value: !!bits[i], ts: Date.now()/1000, source: 'plc-live'})});\n}\n// Send as msg.payload array on a single output; we wire a 'split' to send N msgs.\nreturn [out];\n",
        "outputs": 1,
        "x": 820,
        "y": 780,
        "wires": [
            [
                "fd-plc-pub-out"
            ]
        ]
    },
    {
        "id": "fd-plc-pub-hrs",
        "type": "function",
        "z": "fd-tab",
        "name": "publish HR topics",
        "func": "const r = msg.payload || [];\nif (r.length < 17) return null;\nfunction topic(rel, value, fmt) {\n    return {topic: 'demo/cell1/conveyor/cv101/' + rel,\n            payload: JSON.stringify({value, ts: Date.now()/1000, source: 'plc-live'})};\n}\nconst out = [\n    topic('motor/m101/speed_rpm', r[0]),\n    topic('motor/m101/current_a', r[1] / 10.0),\n    topic('motor/m101/temp_c', r[2]),\n    topic('motor/m101/pressure_psi', r[3]),\n    topic('vfd/vfd101/conveyor_speed', r[4]),\n    topic('state/error_code', r[5]),\n    topic('vfd/vfd101/freq', r[6] / 10.0),\n    topic('vfd/vfd101/current_a', r[7] / 10.0),\n    topic('vfd/vfd101/voltage_v', r[8] / 10.0),\n    topic('vfd/vfd101/dc_bus_v', r[9] / 10.0),\n    topic('state/item_count', r[10]),\n    topic('state/uptime_s', r[11]),\n    topic('vfd/vfd101/speed_cmd', r[12]),\n    topic('state/conv_state', r[13]),\n    topic('vfd/vfd101/cmd_word', r[14]),\n    topic('vfd/vfd101/freq_setpoint', r[15] / 10.0),\n    topic('vfd/vfd101/poll_step', r[16]),\n];\nreturn [out];\n",
        "outputs": 1,
        "x": 820,
        "y": 840,
        "wires": [
            [
                "fd-plc-pub-out"
            ]
        ]
    },
    {
        "id": "fd-plc-pub-out",
        "type": "split",
        "z": "fd-tab",
        "name": "split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1050,
        "y": 810,
        "wires": [
            [
                "fd-plc-mqtt-out"
            ]
        ]
    },
    {
        "id": "fd-plc-mqtt-out",
        "type": "mqtt out",
        "z": "fd-tab",
        "name": "publish demo/#",
        "topic": "",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correlationData": "",
        "expiry": "",
        "broker": "fd-mqtt",
        "x": 1250,
        "y": 810,
        "wires": []
    },
    {
        "id": "fd-plc-sub-selector_fwd-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Selector FWD",
        "topic": "demo/cell1/conveyor/cv101/plc/di/selector_fwd",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1030,
        "wires": [
            [
                "fd-plc-sub-selector_fwd-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_fwd-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1030,
        "wires": [
            [
                "fd-plc-sub-selector_fwd-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_fwd-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "Selector FWD",
        "label": "Selector FWD",
        "order": 1,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1030,
        "wires": []
    },
    {
        "id": "fd-plc-sub-selector_rev-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Selector REV",
        "topic": "demo/cell1/conveyor/cv101/plc/di/selector_rev",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "fd-plc-sub-selector_rev-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_rev-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "fd-plc-sub-selector_rev-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-selector_rev-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "Selector REV",
        "label": "Selector REV",
        "order": 2,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fd-plc-sub-pb_run-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "PB RUN",
        "topic": "demo/cell1/conveyor/cv101/plc/di/di04_pbrun",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1090,
        "wires": [
            [
                "fd-plc-sub-pb_run-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1090,
        "wires": [
            [
                "fd-plc-sub-pb_run-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "PB RUN",
        "label": "PB RUN",
        "order": 3,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1090,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_nc-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-stop NC",
        "topic": "demo/cell1/conveyor/cv101/plc/di/di02_estop_nc",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "fd-plc-sub-e_stop_nc-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_nc-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "fd-plc-sub-e_stop_nc-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_nc-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "E-stop NC",
        "label": "E-stop NC",
        "order": 4,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_no-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-stop NO",
        "topic": "demo/cell1/conveyor/cv101/plc/di/di03_estop_no",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1150,
        "wires": [
            [
                "fd-plc-sub-e_stop_no-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_no-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1150,
        "wires": [
            [
                "fd-plc-sub-e_stop_no-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_no-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "E-stop NO",
        "label": "E-stop NO",
        "order": 5,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1150,
        "wires": []
    },
    {
        "id": "fd-plc-sub-heartbeat-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Heartbeat",
        "topic": "demo/cell1/conveyor/cv101/plc/heartbeat",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "fd-plc-sub-heartbeat-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-heartbeat-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "fd-plc-sub-heartbeat-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-heartbeat-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-buttons",
        "name": "Heartbeat",
        "label": "Heartbeat",
        "order": 6,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1180,
        "wires": []
    },
    {
        "id": "fd-plc-sub-light_green-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Light GREEN",
        "topic": "demo/cell1/conveyor/cv101/plc/do/do00_green",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1630,
        "wires": [
            [
                "fd-plc-sub-light_green-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_green-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1630,
        "wires": [
            [
                "fd-plc-sub-light_green-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_green-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "Light GREEN",
        "label": "Light GREEN",
        "order": 21,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1630,
        "wires": []
    },
    {
        "id": "fd-plc-sub-light_red-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Light RED",
        "topic": "demo/cell1/conveyor/cv101/plc/do/do01_red",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1660,
        "wires": [
            [
                "fd-plc-sub-light_red-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_red-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1660,
        "wires": [
            [
                "fd-plc-sub-light_red-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-light_red-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "Light RED",
        "label": "Light RED",
        "order": 22,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1660,
        "wires": []
    },
    {
        "id": "fd-plc-sub-pb_run_led-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "PB RUN LED",
        "topic": "demo/cell1/conveyor/cv101/plc/do/do03_pbrun_led",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1690,
        "wires": [
            [
                "fd-plc-sub-pb_run_led-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run_led-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1690,
        "wires": [
            [
                "fd-plc-sub-pb_run_led-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-pb_run_led-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "PB RUN LED",
        "label": "PB RUN LED",
        "order": 23,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1690,
        "wires": []
    },
    {
        "id": "fd-plc-sub-contactor_q1-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Contactor Q1",
        "topic": "demo/cell1/conveyor/cv101/safety/contactor_q1",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 1720,
        "wires": [
            [
                "fd-plc-sub-contactor_q1-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-contactor_q1-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 1720,
        "wires": [
            [
                "fd-plc-sub-contactor_q1-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-contactor_q1-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-outputs",
        "name": "Contactor Q1",
        "label": "Contactor Q1",
        "order": 24,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 1720,
        "wires": []
    },
    {
        "id": "fd-plc-sub-frequency_(hz)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Frequency (Hz)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/freq",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2230,
        "wires": [
            [
                "fd-plc-sub-frequency_(hz)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-frequency_(hz)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2230,
        "wires": [
            [
                "fd-plc-sub-frequency_(hz)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-frequency_(hz)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Frequency (Hz)",
        "label": "Frequency (Hz)",
        "order": 41,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2230,
        "wires": []
    },
    {
        "id": "fd-plc-sub-current_(a)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Current (A)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/current_a",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2260,
        "wires": [
            [
                "fd-plc-sub-current_(a)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-current_(a)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2260,
        "wires": [
            [
                "fd-plc-sub-current_(a)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-current_(a)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Current (A)",
        "label": "Current (A)",
        "order": 42,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2260,
        "wires": []
    },
    {
        "id": "fd-plc-sub-voltage_(v)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Voltage (V)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/voltage_v",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2290,
        "wires": [
            [
                "fd-plc-sub-voltage_(v)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-voltage_(v)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2290,
        "wires": [
            [
                "fd-plc-sub-voltage_(v)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-voltage_(v)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Voltage (V)",
        "label": "Voltage (V)",
        "order": 43,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2290,
        "wires": []
    },
    {
        "id": "fd-plc-sub-dc_bus_(v)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "DC Bus (V)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/dc_bus_v",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "fd-plc-sub-dc_bus_(v)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-dc_bus_(v)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2320,
        "wires": [
            [
                "fd-plc-sub-dc_bus_(v)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-dc_bus_(v)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "DC Bus (V)",
        "label": "DC Bus (V)",
        "order": 44,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2320,
        "wires": []
    },
    {
        "id": "fd-plc-sub-setpoint_(hz)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Setpoint (Hz)",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/freq_setpoint",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2350,
        "wires": [
            [
                "fd-plc-sub-setpoint_(hz)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-setpoint_(hz)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = (typeof v === 'number') ? v.toFixed(1) : String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2350,
        "wires": [
            [
                "fd-plc-sub-setpoint_(hz)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-setpoint_(hz)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Setpoint (Hz)",
        "label": "Setpoint (Hz)",
        "order": 45,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2350,
        "wires": []
    },
    {
        "id": "fd-plc-sub-speed_cmd-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Speed Cmd",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/speed_cmd",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2380,
        "wires": [
            [
                "fd-plc-sub-speed_cmd-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-speed_cmd-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2380,
        "wires": [
            [
                "fd-plc-sub-speed_cmd-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-speed_cmd-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Speed Cmd",
        "label": "Speed Cmd",
        "order": 46,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2380,
        "wires": []
    },
    {
        "id": "fd-plc-sub-cmd_word-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Cmd word",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/cmd_word",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2410,
        "wires": [
            [
                "fd-plc-sub-cmd_word-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-cmd_word-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nconst names = {1:'STOP',7:'RESET',18:'FWD+RUN',20:'REV+RUN'};\nmsg.payload = (names[v] || ('?' + v));\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2410,
        "wires": [
            [
                "fd-plc-sub-cmd_word-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-cmd_word-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Cmd word",
        "label": "Cmd word",
        "order": 47,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2410,
        "wires": []
    },
    {
        "id": "fd-plc-sub-comm_ok-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Comm OK",
        "topic": "demo/cell1/conveyor/cv101/vfd/vfd101/comm_ok",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2440,
        "wires": [
            [
                "fd-plc-sub-comm_ok-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-comm_ok-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ON ' : 'off';\nmsg.ui_update = {color: v ? '#4caf50' : '#666666'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2440,
        "wires": [
            [
                "fd-plc-sub-comm_ok-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-comm_ok-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-vfd",
        "name": "Comm OK",
        "label": "Comm OK",
        "order": 48,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2440,
        "wires": []
    },
    {
        "id": "fd-plc-sub-conveyor_state-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Conveyor State",
        "topic": "demo/cell1/conveyor/cv101/state/conv_state",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2830,
        "wires": [
            [
                "fd-plc-sub-conveyor_state-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-conveyor_state-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nconst names = {0:'IDLE',1:'STARTING',2:'RUNNING',3:'STOPPING',4:'FAULT'};\nmsg.payload = (names[v] || 'unk') + ' (' + v + ')';\nmsg.ui_update = {color: v === 2 ? '#4caf50' : (v === 4 ? '#f44336' : '#ff9800')};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2830,
        "wires": [
            [
                "fd-plc-sub-conveyor_state-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-conveyor_state-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Conveyor State",
        "label": "Conveyor State",
        "order": 61,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2830,
        "wires": []
    },
    {
        "id": "fd-plc-sub-error_code-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Error code",
        "topic": "demo/cell1/conveyor/cv101/state/error_code",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2860,
        "wires": [
            [
                "fd-plc-sub-error_code-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-error_code-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nconst names = {0:'none',6:'E-STOP',7:'WIRING',8:'DIR',9:'VFD COMM'};\nmsg.payload = (names[v] || ('err' + v));\nmsg.ui_update = {color: v === 0 ? '#4caf50' : '#f44336'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2860,
        "wires": [
            [
                "fd-plc-sub-error_code-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-error_code-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Error code",
        "label": "Error code",
        "order": 62,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2860,
        "wires": []
    },
    {
        "id": "fd-plc-sub-motor_rpm-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Motor RPM",
        "topic": "demo/cell1/conveyor/cv101/motor/m101/speed_rpm",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2890,
        "wires": [
            [
                "fd-plc-sub-motor_rpm-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-motor_rpm-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2890,
        "wires": [
            [
                "fd-plc-sub-motor_rpm-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-motor_rpm-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Motor RPM",
        "label": "Motor RPM",
        "order": 63,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2890,
        "wires": []
    },
    {
        "id": "fd-plc-sub-item_count-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Item count",
        "topic": "demo/cell1/conveyor/cv101/state/item_count",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2920,
        "wires": [
            [
                "fd-plc-sub-item_count-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-item_count-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2920,
        "wires": [
            [
                "fd-plc-sub-item_count-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-item_count-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Item count",
        "label": "Item count",
        "order": 64,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2920,
        "wires": []
    },
    {
        "id": "fd-plc-sub-uptime_(s)-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Uptime (s)",
        "topic": "demo/cell1/conveyor/cv101/state/uptime_s",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 2950,
        "wires": [
            [
                "fd-plc-sub-uptime_(s)-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-uptime_(s)-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = String(v);\nmsg.ui_update = {color: '#90caf9'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 2950,
        "wires": [
            [
                "fd-plc-sub-uptime_(s)-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-uptime_(s)-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-state",
        "name": "Uptime (s)",
        "label": "Uptime (s)",
        "order": 65,
        "width": "4",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 2950,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_active-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-STOP active",
        "topic": "demo/cell1/conveyor/cv101/safety/estop",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3430,
        "wires": [
            [
                "fd-plc-sub-e_stop_active-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_active-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3430,
        "wires": [
            [
                "fd-plc-sub-e_stop_active-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_active-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "E-STOP active",
        "label": "E-STOP active",
        "order": 81,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3430,
        "wires": []
    },
    {
        "id": "fd-plc-sub-e_stop_wiring-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "E-stop wiring",
        "topic": "demo/cell1/conveyor/cv101/safety/wiring",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3460,
        "wires": [
            [
                "fd-plc-sub-e_stop_wiring-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_wiring-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3460,
        "wires": [
            [
                "fd-plc-sub-e_stop_wiring-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-e_stop_wiring-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "E-stop wiring",
        "label": "E-stop wiring",
        "order": 82,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3460,
        "wires": []
    },
    {
        "id": "fd-plc-sub-direction_fault-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Direction fault",
        "topic": "demo/cell1/conveyor/cv101/safety/dir_fault",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3490,
        "wires": [
            [
                "fd-plc-sub-direction_fault-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-direction_fault-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3490,
        "wires": [
            [
                "fd-plc-sub-direction_fault-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-direction_fault-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "Direction fault",
        "label": "Direction fault",
        "order": 83,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3490,
        "wires": []
    },
    {
        "id": "fd-plc-sub-fault_alarm-in",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "Fault alarm",
        "topic": "demo/cell1/conveyor/cv101/safety/fault_alarm",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 3520,
        "wires": [
            [
                "fd-plc-sub-fault_alarm-fn"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-fault_alarm-fn",
        "type": "function",
        "z": "fd-tab",
        "name": "format",
        "func": "const v = (msg.payload && typeof msg.payload === 'object') ? msg.payload.value : msg.payload;\nmsg.payload = v ? 'ACTIVE' : 'ok';\nmsg.ui_update = {color: v ? '#f44336' : '#4caf50'};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 3520,
        "wires": [
            [
                "fd-plc-sub-fault_alarm-text"
            ]
        ]
    },
    {
        "id": "fd-plc-sub-fault_alarm-text",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-plc-grp-safety",
        "name": "Fault alarm",
        "label": "Fault alarm",
        "order": 84,
        "width": "3",
        "height": "1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#cccccc",
        "x": 620,
        "y": 3520,
        "wires": []
    }
]