mira-bridge/flows/fault-detective.json
[
    {
        "id": "fd-tab",
        "type": "tab",
        "label": "Fault Detective",
        "disabled": false,
        "info": "MIRA Conveyor Fault Detective demo. Subscribes to demo/cell1/conveyor/cv101/# and renders the HMI + chat panel."
    },
    {
        "id": "fd-mqtt",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "mira-bridge-fd",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fd-sqlite",
        "type": "sqlitedb",
        "db": "/mira-db/mira.db",
        "mode": "RWC"
    },
    {
        "id": "fd-ui-base",
        "type": "ui-base",
        "name": "MIRA Dashboard",
        "path": "/dashboard",
        "appIcon": ""
    },
    {
        "id": "fd-ui-theme",
        "type": "ui-theme",
        "name": "MIRA Theme",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#2196f3",
            "bgPage": "#121212",
            "groupBg": "#2d2d2d",
            "groupOutline": "#444444"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "fd-page",
        "type": "ui-page",
        "name": "Fault Detective",
        "ui": "fd-ui-base",
        "path": "/fault-detective",
        "icon": "engine",
        "order": 2,
        "theme": "fd-ui-theme",
        "layout": "grid"
    },
    {
        "id": "fd-group-svg",
        "type": "ui-group",
        "name": "Conveyor View",
        "page": "fd-page",
        "width": "12",
        "order": 1
    },
    {
        "id": "fd-group-state",
        "type": "ui-group",
        "name": "What is the conveyor waiting on?",
        "page": "fd-page",
        "width": "12",
        "order": 2
    },
    {
        "id": "fd-group-injects",
        "type": "ui-group",
        "name": "Inject a fault",
        "page": "fd-page",
        "width": "12",
        "order": 3
    },
    {
        "id": "fd-group-events",
        "type": "ui-group",
        "name": "Event Timeline",
        "page": "fd-page",
        "width": "12",
        "order": 4
    },
    {
        "id": "fd-group-chat",
        "type": "ui-group",
        "name": "Talk to MIRA",
        "page": "fd-page",
        "width": "12",
        "order": 5
    },
    {
        "id": "fd-mqtt-in-fault",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "current_fault",
        "topic": "demo/cell1/conveyor/cv101/diagnostics/current_fault",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "fd-fn-fault-route"
            ]
        ]
    },
    {
        "id": "fd-fn-fault-route",
        "type": "function",
        "z": "fd-tab",
        "name": "route fault",
        "func": "flow.set('current_fault', msg.payload);\nreturn [msg, msg];\n",
        "outputs": 2,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "fd-svg"
            ],
            [
                "fd-fn-banner"
            ]
        ]
    },
    {
        "id": "fd-fn-banner",
        "type": "function",
        "z": "fd-tab",
        "name": "compose banner",
        "func": "const f = msg.payload || {};\nlet header = 'Everything is OK';\nlet detail = '';\nlet color = '#4caf50';\nif (f.fault && f.fault !== 'ok') {\n    header = f.fault.replace(/_/g, ' ').toUpperCase();\n    detail = (f.recommended_first_check || '') + (f.safety_note ? '\\n\\n[SAFETY] ' + f.safety_note : '');\n    color = f.confidence >= 0.85 ? '#f44336' : '#ff9800';\n}\nmsg.payload = `**${header}**\\n\\n${detail}`;\nmsg.ui_update = {color};\nreturn msg;\n",
        "outputs": 1,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "fd-banner"
            ]
        ]
    },
    {
        "id": "fd-banner",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-state",
        "name": "Banner",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "16",
        "color": "#ffffff",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "fd-mqtt-in-waiting",
        "type": "mqtt in",
        "z": "fd-tab",
        "name": "waiting_on",
        "topic": "demo/cell1/conveyor/cv101/state/waiting_on",
        "qos": "0",
        "datatype": "json",
        "broker": "fd-mqtt",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "fd-fn-waiting"
            ]
        ]
    },
    {
        "id": "fd-fn-waiting",
        "type": "function",
        "z": "fd-tab",
        "name": "extract value",
        "func": "msg.payload = (msg.payload && msg.payload.value) ? msg.payload.value : 'nothing';\nreturn msg;\n",
        "outputs": 1,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "fd-waiting"
            ]
        ]
    },
    {
        "id": "fd-waiting",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-state",
        "name": "Waiting on",
        "label": "Waiting on:",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#ffeb3b",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd-svg",
        "type": "ui-template",
        "z": "fd-tab",
        "group": "fd-group-svg",
        "page": "",
        "ui": "",
        "name": "Conveyor SVG",
        "order": 1,
        "width": "12",
        "height": "8",
        "head": "",
        "format": "<template>\n  <div style=\"width:100%; text-align:center; background:#0d0d0d; padding:8px; border-radius:4px;\">\n    <svg viewBox=\"0 0 800 280\" xmlns=\"http://www.w3.org/2000/svg\" style=\"width:100%; max-width:900px;\">\n      <defs>\n        <linearGradient id=\"belt\" x1=\"0\" y1=\"0\" x2=\"1\" y2=\"0\">\n          <stop offset=\"0%\" stop-color=\"#444\"/>\n          <stop offset=\"100%\" stop-color=\"#222\"/>\n        </linearGradient>\n      </defs>\n      <rect x=\"60\" y=\"160\" width=\"680\" height=\"38\" fill=\"url(#belt)\" stroke=\"#888\" stroke-width=\"1\"/>\n      <circle cx=\"60\" cy=\"179\" r=\"22\" fill=\"#666\" stroke=\"#aaa\" stroke-width=\"1\"/>\n      <circle cx=\"740\" cy=\"179\" r=\"22\" fill=\"#666\" stroke=\"#aaa\" stroke-width=\"1\"/>\n\n      <rect :id=\"'fd-zone1'\" x=\"110\" y=\"150\" width=\"200\" height=\"58\" fill=\"none\" :stroke=\"colorFor('Zone 1')\" stroke-width=\"2\" stroke-dasharray=\"4,3\"/>\n      <text x=\"210\" y=\"144\" fill=\"#bbb\" font-size=\"11\" text-anchor=\"middle\">Zone 1</text>\n\n      <rect :id=\"'fd-zone2'\" x=\"380\" y=\"150\" width=\"260\" height=\"58\" fill=\"none\" :stroke=\"colorFor('Zone 2')\" stroke-width=\"2\" stroke-dasharray=\"4,3\"/>\n      <text x=\"510\" y=\"144\" fill=\"#bbb\" font-size=\"11\" text-anchor=\"middle\">Zone 2</text>\n\n      <circle :id=\"'fd-pe101'\" cx=\"180\" cy=\"110\" r=\"14\" :fill=\"colorFor('PE-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"180\" y=\"96\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">PE-101</text>\n      <line x1=\"180\" y1=\"124\" x2=\"180\" y2=\"160\" :stroke=\"colorFor('PE-101')\" stroke-width=\"1\" stroke-dasharray=\"2,2\"/>\n\n      <circle :id=\"'fd-pe102'\" cx=\"460\" cy=\"110\" r=\"14\" :fill=\"colorFor('PE-102')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"460\" y=\"96\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">PE-102</text>\n      <line x1=\"460\" y1=\"124\" x2=\"460\" y2=\"160\" :stroke=\"colorFor('PE-102')\" stroke-width=\"1\" stroke-dasharray=\"2,2\"/>\n\n      <circle :id=\"'fd-px101'\" cx=\"570\" cy=\"110\" r=\"14\" :fill=\"colorFor('PX-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"570\" y=\"96\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">PX-101</text>\n      <line x1=\"570\" y1=\"124\" x2=\"570\" y2=\"160\" :stroke=\"colorFor('PX-101')\" stroke-width=\"1\" stroke-dasharray=\"2,2\"/>\n\n      <rect :id=\"'fd-motor'\" x=\"690\" y=\"220\" width=\"60\" height=\"40\" :fill=\"colorFor('Motor M-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"720\" y=\"245\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">M-101</text>\n\n      <rect :id=\"'fd-vfd'\" x=\"690\" y=\"30\" width=\"60\" height=\"40\" :fill=\"colorFor('VFD-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"720\" y=\"55\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">VFD-101</text>\n\n      <circle :id=\"'fd-sl'\" cx=\"50\" cy=\"50\" r=\"14\" :fill=\"colorFor('SL-101')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"50\" y=\"32\" fill=\"#eee\" font-size=\"11\" text-anchor=\"middle\">SL-101</text>\n\n      <rect :id=\"'fd-f2'\" x=\"10\" y=\"220\" width=\"60\" height=\"22\" :fill=\"colorFor('Fuse F2')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"40\" y=\"235\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">F2 24V</text>\n      <line x1=\"70\" y1=\"231\" x2=\"180\" y2=\"124\" :stroke=\"colorFor('Fuse F2')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n      <line x1=\"70\" y1=\"231\" x2=\"460\" y2=\"124\" :stroke=\"colorFor('Fuse F2')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n      <line x1=\"70\" y1=\"231\" x2=\"570\" y2=\"124\" :stroke=\"colorFor('Fuse F2')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n\n      <rect :id=\"'fd-f3'\" x=\"10\" y=\"250\" width=\"60\" height=\"22\" :fill=\"colorFor('Fuse F3')\" stroke=\"#fff\" stroke-width=\"1\"/>\n      <text x=\"40\" y=\"265\" fill=\"#000\" font-size=\"11\" text-anchor=\"middle\" font-weight=\"bold\">F3 24V</text>\n      <line x1=\"70\" y1=\"261\" x2=\"50\" y2=\"64\" :stroke=\"colorFor('Fuse F3')\" stroke-width=\"1\" stroke-dasharray=\"2,3\"/>\n\n      <text x=\"400\" y=\"24\" fill=\"#fff\" font-size=\"14\" text-anchor=\"middle\" font-weight=\"bold\">CV-101 \u2014 Demo Cell</text>\n      <text x=\"400\" y=\"265\" :fill=\"bannerColor\" font-size=\"13\" text-anchor=\"middle\" font-weight=\"bold\">{{ faultLabel }}</text>\n    </svg>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return { fault: { fault: 'ok', affected_components: [], confidence: 1.0 } };\n  },\n  watch: {\n    msg(m) {\n      if (m && m.payload) this.fault = m.payload;\n    },\n  },\n  computed: {\n    affected() {\n      return new Set(this.fault.affected_components || []);\n    },\n    bannerColor() {\n      if (!this.fault.fault || this.fault.fault === 'ok') return '#4caf50';\n      return this.fault.confidence >= 0.85 ? '#f44336' : '#ff9800';\n    },\n    faultLabel() {\n      if (!this.fault.fault || this.fault.fault === 'ok') return 'STATUS: OK';\n      const conf = Math.round((this.fault.confidence || 0) * 100);\n      return this.fault.fault.replace(/_/g, ' ').toUpperCase() + '   (' + conf + '% confidence)';\n    },\n  },\n  methods: {\n    colorFor(component) {\n      if (this.affected.has(component)) {\n        return this.fault.confidence >= 0.85 ? '#f44336' : '#ff9800';\n      }\n      return '#4caf50';\n    },\n  },\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "fd-inject-normal",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Normal",
        "label": "Normal",
        "order": 1,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#2e7d32",
        "icon": "",
        "iconPosition": "left",
        "payload": "normal",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-jam",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Mechanical jam",
        "label": "Jam",
        "order": 2,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "jam",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-f2",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Fuse F2 blown",
        "label": "Fuse F2 blown",
        "order": 3,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "f2_blown",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-dirty",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Dirty PE-102",
        "label": "Dirty sensor",
        "order": 4,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "dirty_sensor",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-misalign",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Misaligned",
        "label": "Misaligned PE-101",
        "order": 5,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "misaligned",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-brown",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 brown break",
        "label": "PE-101 brown wire",
        "order": 6,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_brown_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-blue",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 blue break",
        "label": "PE-101 blue wire",
        "order": 7,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_blue_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-black",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "PE-101 black break",
        "label": "PE-101 black wire",
        "order": 8,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "pe101_black_break",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-loose",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Loose terminal",
        "label": "Loose terminal",
        "order": 9,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "loose_terminal",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-chatter",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Debounce chatter",
        "label": "Debounce chatter",
        "order": 10,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "debounce_chatter",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-vfdnomot",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "VFD no motion",
        "label": "VFD running, no motion",
        "order": 11,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "vfd_no_motion",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-vision",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Vision sees, sensor doesn't",
        "label": "Vision yes / PE-101 no",
        "order": 12,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#c62828",
        "payload": "vision_no_sensor",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-inject-sensor",
        "type": "ui-button",
        "z": "fd-tab",
        "group": "fd-group-injects",
        "name": "Sensor sees, vision doesn't",
        "label": "PE-101 yes / vision no",
        "order": 13,
        "width": "3",
        "height": "1",
        "color": "",
        "bgcolor": "#ef6c00",
        "payload": "sensor_no_vision",
        "payloadType": "str",
        "topic": "fault_mode",
        "topicType": "msg",
        "buttonType": "raised",
        "x": 860,
        "y": 360,
        "wires": [
            [
                "fd-fn-do-inject"
            ]
        ],
        "icon": "",
        "iconPosition": "left",
        "emulateClick": false,
        "className": ""
    },
    {
        "id": "fd-fn-do-inject",
        "type": "function",
        "z": "fd-tab",
        "name": "build inject request",
        "func": "msg.url = 'http://fault-sim:8089/inject/' + msg.payload;\nmsg.method = 'POST';\nmsg.payload = {};\nreturn msg;\n",
        "outputs": 1,
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "fd-http-inject"
            ]
        ]
    },
    {
        "id": "fd-http-inject",
        "type": "http request",
        "z": "fd-tab",
        "name": "POST /inject",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fd-events-poll",
        "type": "inject",
        "z": "fd-tab",
        "name": "Poll events every 3s",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "fd-events-query"
            ]
        ]
    },
    {
        "id": "fd-events-query",
        "type": "sqlite",
        "z": "fd-tab",
        "name": "SELECT recent events",
        "mydb": "fd-sqlite",
        "sqlquery": "fixed",
        "sql": "SELECT ts, fault, ROUND(confidence, 2) as confidence, affected_json FROM conveyor_events ORDER BY id DESC LIMIT 20",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "fd-fn-events-shape"
            ]
        ]
    },
    {
        "id": "fd-fn-events-shape",
        "type": "function",
        "z": "fd-tab",
        "name": "shape for table",
        "func": "const rows = (msg.payload || []).map(r => ({\n  When: r.ts,\n  Fault: (r.fault || '').replace(/_/g, ' '),\n  Conf: r.confidence,\n  Affected: (JSON.parse(r.affected_json || '[]') || []).join(', '),\n}));\nmsg.payload = rows;\nreturn msg;\n",
        "outputs": 1,
        "x": 640,
        "y": 580,
        "wires": [
            [
                "fd-events-table"
            ]
        ]
    },
    {
        "id": "fd-events-table",
        "type": "ui-table",
        "z": "fd-tab",
        "group": "fd-group-events",
        "name": "Recent Events",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "6",
        "columns": [],
        "showSearch": false,
        "showSelectColumn": false,
        "addToHead": "",
        "addToTail": "",
        "options": "{\"layout\":\"fitColumns\",\"resizableColumnFit\":true}",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd-chat-input",
        "type": "ui-text-input",
        "z": "fd-tab",
        "group": "fd-group-chat",
        "name": "ask",
        "label": "Ask MIRA about the conveyor",
        "tooltip": "Try: what happened? \u2014 or \u2014 confirm",
        "order": 1,
        "width": "12",
        "height": "1",
        "topic": "ask",
        "topicType": "msg",
        "mode": "text",
        "delay": "300",
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "icon": "",
        "iconPosition": "left",
        "iconColor": "",
        "clearable": true,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "fd-fn-chat"
            ]
        ]
    },
    {
        "id": "fd-fn-chat",
        "type": "function",
        "z": "fd-tab",
        "name": "compose chat request",
        "func": "// For the booth demo, call Groq directly. The full Supervisor at\n// mira-pipeline:9099 owns intent + safety + FSM and is tuned for real\n// technician chat \u2014 it short-circuits if the embedded fault context\n// trips safety keywords, which makes booth demos messy. Production\n// chat should still route through the Supervisor.\nconst fault = flow.get('current_fault') || {fault: 'ok'};\nconst question = msg.payload || '';\nconst evidence = (fault.evidence || []).map(e => `- ${e.topic}: ${JSON.stringify(e.value)}${e.note ? ' (' + e.note + ')' : ''}`).join('\\n');\nconst affected = (fault.affected_components || []).join(', ');\nconst lower = question.toLowerCase();\nif (/(^|\\s)(yes|confirm|correct|ok|yep|yeah|y)(\\s|$|[.!])/.test(lower)) {\n    flow.set('confirmed_session', true);\n}\nconst confirmedNow = flow.get('confirmed_session') || false;\nconst sys = [\n    'You are MIRA \u2014 a calm, evidence-based maintenance supervisor.',\n    'You answer briefly. You cite evidence. You never invent plant data.',\n    '',\n    'LIVE CONVEYOR STATE (Demo Cell / Conveyor CV-101):',\n    '  active fault: ' + (fault.fault || 'ok'),\n    '  confidence: ' + (fault.confidence || 0),\n    '  affected components: ' + (affected || 'none'),\n    '  evidence:',\n    (evidence || '  (no evidence yet)'),\n    '  recommended first check (raw): ' + (fault.recommended_first_check || 'n/a'),\n    '  safety note (raw): ' + (fault.safety_note || 'standard plant PPE'),\n    '',\n    confirmedNow\n        ? 'The technician has CONFIRMED the location. Reply directly with: diagnosis, confidence, evidence (bulleted), recommended first check, next measurement, safety note, work-order draft (one line). Under 180 words.'\n        : 'MIRA protocol \u2014 first reply must be EXACTLY: \"I believe you are working on Demo Cell / Conveyor CV-101 / ' + (affected || 'the suspected fault area') + '. Confirm?\" \u2014 then stop. Do not diagnose until the technician says yes.',\n].join('\\n');\nmsg.url = 'https://api.groq.com/openai/v1/chat/completions';\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer ' + env.get('GROQ_API_KEY'),\n};\nmsg.payload = {\n    model: 'llama-3.3-70b-versatile',\n    messages: [\n        {role: 'system', content: sys},\n        {role: 'user', content: question},\n    ],\n    stream: false,\n    temperature: 0.2,\n    max_tokens: 400,\n};\nreturn msg;\n",
        "outputs": 1,
        "x": 380,
        "y": 680,
        "wires": [
            [
                "fd-http-chat"
            ]
        ]
    },
    {
        "id": "fd-http-chat",
        "type": "http request",
        "z": "fd-tab",
        "name": "POST mira-pipeline",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 680,
        "wires": [
            [
                "fd-fn-chat-extract"
            ]
        ]
    },
    {
        "id": "fd-fn-chat-extract",
        "type": "function",
        "z": "fd-tab",
        "name": "extract reply",
        "func": "let txt = '(no reply)';\ntry {\n    if (msg.statusCode === 200 && msg.payload && msg.payload.choices && msg.payload.choices.length) {\n        txt = msg.payload.choices[0].message.content || txt;\n    } else if (msg.statusCode) {\n        txt = '(MIRA pipeline returned ' + msg.statusCode + ')';\n    }\n} catch (e) { txt = '(parse error: ' + e.message + ')'; }\nmsg.payload = txt;\nreturn msg;\n",
        "outputs": 1,
        "x": 860,
        "y": 680,
        "wires": [
            [
                "fd-chat-out"
            ]
        ]
    },
    {
        "id": "fd-chat-out",
        "type": "ui-text",
        "z": "fd-tab",
        "group": "fd-group-chat",
        "name": "MIRA Reply",
        "label": "MIRA:",
        "order": 2,
        "width": "12",
        "height": "0",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": "14",
        "color": "#e0e0e0",
        "x": 1080,
        "y": 680,
        "wires": []
    }
]