mira-bridge/flows/mira-dashboard-conveyor.json
[
    {
        "id": "mira-dashboard-tab",
        "type": "ui-page",
        "name": "Plant Floor",
        "ui": "mira-dashboard-ui",
        "path": "/plant-floor",
        "icon": "factory",
        "order": 1,
        "theme": "mira-dashboard-theme",
        "layout": "grid"
    },
    {
        "id": "mira-dashboard-ui",
        "type": "ui-base",
        "name": "MIRA Dashboard",
        "path": "/dashboard",
        "appIcon": ""
    },
    {
        "id": "mira-dashboard-theme",
        "type": "ui-theme",
        "name": "MIRA Theme",
        "colors": {
            "surface": "#1e1e1e",
            "primary": "#2196f3",
            "bgPage": "#121212",
            "groupBg": "#2d2d2d",
            "groupOutline": "#444444"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "mira-status-group",
        "type": "ui-group",
        "name": "Conveyor Status",
        "page": "mira-dashboard-tab",
        "width": "12",
        "order": 1
    },
    {
        "id": "mira-gauges-group",
        "type": "ui-group",
        "name": "Live Readings",
        "page": "mira-dashboard-tab",
        "width": "12",
        "order": 2
    },
    {
        "id": "mira-faults-group",
        "type": "ui-group",
        "name": "Fault Log",
        "page": "mira-dashboard-tab",
        "width": "12",
        "order": 3
    },
    {
        "id": "mira-chat-group",
        "type": "ui-group",
        "name": "Ask MIRA",
        "page": "mira-dashboard-tab",
        "width": "12",
        "order": 4
    },
    {
        "id": "mira-poll-timer",
        "type": "inject",
        "name": "Poll every 10s",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "wires": [["mira-query-status", "mira-query-faults"]]
    },
    {
        "id": "mira-query-status",
        "type": "sqlite",
        "name": "Query equipment_status",
        "mydb": "mira-sqlite-db",
        "sqlquery": "fixed",
        "sql": "SELECT equipment_id, name, status, speed_rpm, temperature_c, current_amps, pressure_psi, last_updated FROM equipment_status WHERE equipment_id = 'CONV-001'",
        "wires": [["mira-status-banner", "mira-gauge-freq", "mira-gauge-current", "mira-gauge-voltage", "mira-gauge-state"]]
    },
    {
        "id": "mira-query-faults",
        "type": "sqlite",
        "name": "Query recent faults",
        "mydb": "mira-sqlite-db",
        "sqlquery": "fixed",
        "sql": "SELECT f.fault_code, f.description, f.severity, f.timestamp, f.resolved, e.name as equipment_name FROM faults f JOIN equipment_status e ON f.equipment_id = e.equipment_id ORDER BY f.timestamp DESC LIMIT 10",
        "wires": [["mira-fault-table"]]
    },
    {
        "id": "mira-sqlite-db",
        "type": "sqlitedb",
        "db": "/mira-db/mira.db",
        "mode": "RWC"
    },
    {
        "id": "mira-status-banner",
        "type": "function",
        "name": "Format status banner",
        "func": "const row = msg.payload[0] || {};\nconst status = (row.status || 'unknown').toUpperCase();\nconst speed = row.speed_rpm || 0;\nlet color = '#9e9e9e'; // gray = idle/unknown\nlet text = 'IDLE';\n\nif (status === 'RUNNING') {\n    color = '#4caf50';\n    text = `CONVEYOR RUNNING — ${speed} RPM`;\n} else if (status === 'FAULTED') {\n    color = '#f44336';\n    text = `FAULT DETECTED`;\n} else if (status === 'STOPPED') {\n    color = '#ff9800';\n    text = 'CONVEYOR STOPPED';\n}\n\nmsg.payload = text;\nmsg.ui_update = { color: color };\nreturn msg;",
        "outputs": 1,
        "wires": [["mira-status-text"]]
    },
    {
        "id": "mira-status-text",
        "type": "ui-text",
        "group": "mira-status-group",
        "name": "Status Banner",
        "label": "",
        "order": 1,
        "width": "12",
        "height": "1",
        "font": "2em",
        "color": "#4caf50",
        "className": "status-banner"
    },
    {
        "id": "mira-gauge-freq",
        "type": "function",
        "name": "Extract frequency",
        "func": "const row = msg.payload[0] || {};\nmsg.payload = row.speed_rpm || 0;\nreturn msg;",
        "wires": [["mira-gauge-freq-widget"]]
    },
    {
        "id": "mira-gauge-freq-widget",
        "type": "ui-gauge",
        "group": "mira-gauges-group",
        "name": "Output Frequency",
        "order": 1,
        "width": "3",
        "height": "4",
        "gtype": "gauge-half",
        "title": "Frequency (Hz)",
        "units": "Hz",
        "min": 0,
        "max": 60,
        "segments": [
            {"from": 0, "color": "#4caf50"},
            {"from": 50, "color": "#ff9800"},
            {"from": 55, "color": "#f44336"}
        ]
    },
    {
        "id": "mira-gauge-current",
        "type": "function",
        "name": "Extract current",
        "func": "const row = msg.payload[0] || {};\nmsg.payload = row.current_amps || 0;\nreturn msg;",
        "wires": [["mira-gauge-current-widget"]]
    },
    {
        "id": "mira-gauge-current-widget",
        "type": "ui-gauge",
        "group": "mira-gauges-group",
        "name": "Output Current",
        "order": 2,
        "width": "3",
        "height": "4",
        "gtype": "gauge-half",
        "title": "Current (A)",
        "units": "A",
        "min": 0,
        "max": 20,
        "segments": [
            {"from": 0, "color": "#4caf50"},
            {"from": 10, "color": "#ff9800"},
            {"from": 15, "color": "#f44336"}
        ]
    },
    {
        "id": "mira-gauge-voltage",
        "type": "function",
        "name": "Extract temperature",
        "func": "const row = msg.payload[0] || {};\nmsg.payload = row.temperature_c || 0;\nreturn msg;",
        "wires": [["mira-gauge-voltage-widget"]]
    },
    {
        "id": "mira-gauge-voltage-widget",
        "type": "ui-gauge",
        "group": "mira-gauges-group",
        "name": "Temperature",
        "order": 3,
        "width": "3",
        "height": "4",
        "gtype": "gauge-half",
        "title": "Temperature (°C)",
        "units": "°C",
        "min": 0,
        "max": 100,
        "segments": [
            {"from": 0, "color": "#4caf50"},
            {"from": 60, "color": "#ff9800"},
            {"from": 80, "color": "#f44336"}
        ]
    },
    {
        "id": "mira-gauge-state",
        "type": "function",
        "name": "Extract pressure",
        "func": "const row = msg.payload[0] || {};\nmsg.payload = row.pressure_psi || 0;\nreturn msg;",
        "wires": [["mira-gauge-state-widget"]]
    },
    {
        "id": "mira-gauge-state-widget",
        "type": "ui-gauge",
        "group": "mira-gauges-group",
        "name": "Pressure",
        "order": 4,
        "width": "3",
        "height": "4",
        "gtype": "gauge-half",
        "title": "Pressure (PSI)",
        "units": "PSI",
        "min": 0,
        "max": 150,
        "segments": [
            {"from": 0, "color": "#4caf50"},
            {"from": 100, "color": "#ff9800"},
            {"from": 120, "color": "#f44336"}
        ]
    },
    {
        "id": "mira-fault-table",
        "type": "ui-table",
        "group": "mira-faults-group",
        "name": "Fault Log",
        "label": "Recent Faults",
        "order": 1,
        "width": "12",
        "height": "6",
        "maxrows": 10,
        "autocols": false,
        "columns": [
            {"title": "Time", "key": "timestamp", "width": "25%"},
            {"title": "Equipment", "key": "equipment_name", "width": "20%"},
            {"title": "Fault", "key": "fault_code", "width": "15%"},
            {"title": "Description", "key": "description", "width": "25%"},
            {"title": "Severity", "key": "severity", "width": "15%"}
        ]
    },
    {
        "id": "mira-chat-input",
        "type": "ui-text-input",
        "group": "mira-chat-group",
        "name": "Ask MIRA",
        "label": "Ask MIRA a question...",
        "tooltip": "Type a maintenance question and press Enter",
        "mode": "text",
        "delay": 0,
        "order": 1,
        "width": "10",
        "height": "1",
        "passthru": false,
        "sendOnBlur": false,
        "clearOnSubmit": true,
        "wires": [["mira-chat-send"]]
    },
    {
        "id": "mira-chat-send",
        "type": "http request",
        "name": "POST to MIRA",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://mira-core:8080/api/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {"keyType": "Content-Type", "keyValue": "", "valueType": "application/json", "valueValue": ""}
        ],
        "wires": [["mira-chat-response"]]
    },
    {
        "id": "mira-chat-response",
        "type": "function",
        "name": "Extract reply",
        "func": "try {\n    const data = msg.payload;\n    msg.payload = data.choices[0].message.content;\n} catch(e) {\n    msg.payload = 'MIRA is not responding. Check mira-core container.';\n}\nreturn msg;",
        "wires": [["mira-chat-display"]]
    },
    {
        "id": "mira-chat-display",
        "type": "ui-text",
        "group": "mira-chat-group",
        "name": "MIRA Response",
        "label": "MIRA:",
        "order": 2,
        "width": "12",
        "height": "3"
    }
]
